{% extends "base.html" %} {% load static %} {% block main %}
<div class="aluplast70">
  <div class="container">
    <h2 class="text-center title2">ALUPLAST 70</h2>
    <div class="row">
      <div class="col-md-7">
        <h3>De ce sa alegi fereastra ALUPLAST?</h3>
        <p>
          <b>Design funcțional.</b> Știm că, înainte de toate, pui preț pe
          aspectul locuinței tale. Proiectarea ALUPLAST valorifică exigențele
          estetice pe care le primim cu bucurie din partea clienților noștri.
          Astfel, ferestrele din PVC dispun de o volumetrie armonioasă cu design
          funcțional, adaptabil oricărui tip de construcție.
        <br>
          <b>Preț imbatabil.</b> Soluțiile ALUPLAST sunt o investiție
          inteligentă, o investiție într-un viitor confortabil. Fereastra
          garantează calitate premium la un preț imbatabil. Și pentru că știm că
          fiecare proiect este unic, îți stăm la dispoziție cu oferte
          personalizate.
        <br>
          <b>Durată lungă de exploatare.</b> O investiție în viitor este o
          investiție care nu doar că se amortizează rapid. Este o investiție
          care nu ține cont de trecerea timpului. Cu fereastra ALUPLAST te
          bucuri de performanțe și funcționalitate ireproșabile pentru o durată
          lungă de exploatare. Profilul de 70mm are încorporat o armătură din
          oțel rectangular ranforsat perimetral. Pe scurt, feroneria este
          configurată pentru a asigura o funcționare optimă și constantă.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="center-block img-responsive"
          src="{% static 'images/aluplast70-4.png' %}"
        />
      </div>
    </div>
    <hr />
    <div class="row" style="background-color: #f5f7f7; padding-top: 1rem">
      <div class="col-md-7">
        <p>
          <b>Izolare fonică.</b> Izolarea fonică se obține atunci când toate
          elementele ferestrei lucrează împreună. Ansamblul ferestrei ALUPLAST
          este compus din sticlă de înaltă calitate și profile cu proprietăți
          excelente de izolație fonică. Avantajul practic? Toate zgomotele din
          exteriorul locuinței sunt eliminate pentru o liniște desăvârșită la
          interior.
        <br>
          <b>Izolare termică.</b> Indiferent de anotimpul în care ne simțim cel
          mai confortabil, la interior starea noastră de bine nu trebuie să fie
          influențată de factori externi. Alege ferestrele ALUPLAST pentru a
          izola termic locuința ta. Ferestrele sunt echipate cu geam
          termoizolant SuperLowE (emisivitate super redusă), cu distanțieri
          calzi (tehnologia warm edge) și cu 2, sau 3 foi de sticlă.
        <br>
          <b>Economii de energie.</b>Economisește consumul de energie atât vara,
          dar mai ales iarna. Învață să reduci costurile de răcire, încălzire și
          iluminare alegând ferestre performante care permit pătrunderea luminii
          naturale în timp ce garantează o izolare termică cu adevărat
          eficientă.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="center-block"
          src="{% static 'images/aluplast70-2.png' %}"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h3 class="title2">Caracteristici tehnice și performanțe</h3>
        <ul>
          <li>
            <p>
              Rame cu înălțime vizibilă de 70 mm, 65 mm și 55 mm cu aripă de
              renovare de 40 mm sau 65 mm
            </p>
          </li>
          <li><p>Armături: de 1.5 mm și 2 mm</p></li>
          <li>
            <p>
              Baghete pentru geam termoizolant: 24 mm și 40 mm
            </p>
          </li>
          <li>
            <p>
              Drenaje: pe partea frontală a tocului sau in partea de jos(pentru
              ferestrele cu solbanc)
            </p>
          </li>
          <li>
            <p>
              Coeficient de izolare termică – profil: până la 1.3 W/m²k
            </p>
          </li>
          <li>
            <p>
              Coeficient de izolare termică – sticlă: până la 0,6 W/ m²k
            </p>
          </li>
          <li>
            <p>
              Grosimi disponibile ale pachetului de sticlă: 24 mm, 36 mm și 40
              mm
            </p>
          </li>
          <li><p>Protecție fonică: până la clasa IV</p></li>
          <li>
            <p>Protecție antiefracție: până la clasa RC2</p>
          </li>
          <li>
            <p>
              Adâncime profil: 70 mm, cu 2 garnituri de etanșare
            </p>
          </li>
          <li><p>Număr de camere constructive: 5</p></li>
          <li>
            <p>
              Feronerie: Roto, cu balamale vizibile sau ascunse
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contact-card">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-responsive rounded" src="{% static 'images/contactUs2.png' %}" />
            </div>
            <div class="col-md-6">
              <div class="content">
              <p>
                Pentru mai multe informații sau nelămuriri legate de serviciile de
                tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
                noastră telefonic sau prin e-mail.
              </p>
              <a class="btn buton" href="/contact/">Contactează-ne</a>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock main %}