{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol9.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>Cum poți economisi când vine vorba de geamuri/uși ?</h2>
      <p>
        Tocmai ce te-a sunat constructorul să te anunțe că se apropie etapa în
        care trebuie să decizi ce tip de geamuri pui. Evident, apoi urmează să
        le comanzi îi să le montezi la noua casa. Sau să renovezi o casă mai
        veche. În oricare situație ai fi, te înțelegem; am trecut personal prin
        ambele situații și de sute de ori prin experiențele clienților noștri.
        Ne lovim de multe ori de expresii precum: “Este scump!”, “Nu se poate
        mai ieftin?”, “Cum pot economisi când vine vorba de geamuri / uși?”.<br />
        Așadar, iată câteva dintre cele mai practice exemple care ți le putem
        oferi și care credem că te pot ajuta și din acest punct de vedere.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        1.<b>Alege o culoare accesibilă. </b>Cea mai ieftină culoare este albul.
        Orice lucrare, orice model de geam sau de ușă poate fi realizat și pe
        alb (și, între noi fie vorba, de multe ori arată mai bine pe alb decât
        pe altă culoare). Aici intră atât geamurile / ușile principale, cât și
        accesoriile.<br />2.<b>Renunță la șprosuri. </b>Ce sunt șprosurile? Sunt
        acele ornamente dintre sticle care poate le-ai văzut pe internet, dar
        care nu au niciun rol termic / fonic. Aceste ornamente au rol strict
        decorativ. <br />3.<b>Demontează singur vechea tâmplărie. </b>Dacă vrei
        să renovezi o casă mai veche, demontează acele părți din vechile geamuri
        pe care le vei înlocui (tocuri, sticle, pervaze, praguri etc). Altfel
        spus, fă-ne munca mai ușoară la montaj, iar noi ne asigurăm că acest
        lucru se reflectă în prețul final. <br />4.<b
          >Alege tipul clasic de plase de țânțari. </b
        >Dacă alegi să îți comanzi și plase de țânțari (indiferent de momentul
        în care faci această comandă), alege tipul clasic, nu neapărat plisee
        sau rulouri. Găsești <a href="/articol10/">AICI</a> mai multe detalii.
        <br />5.<b
          >Alege tipul de profile sau sticlă termopan la ușile / geamurile de
          interior. </b
        >Atunci când optezi pentru piese care sunt în interior (geamuri / uși
        între camere, de exemplu) sau la o terasă unde nu e necesară păstrarea
        căldurii / răcorii, alege profile mai accesibile sau sticla termopan
        dublă. Citește <a href="/articol6/">AICI</a> despre sticla termopan
        dublă. <br />6.<b>Cere sfatul specialistului. </b>Nu știi ce să alegi?
        Nu poți alege oferta mai scumpă, dar vrei să lucrezi cu un anume
        specialist? Cere! Cere pur și simplu o ofertă mai accesibilă. Sigur vei
        primi.<br />7.<b>Alege configurații simple. </b>Complexitatea unei piese
        de tâmplărie influențează direct prețul. De exemplu, dacă un geam are 6
        deschideri este automat mai scump decât unul cu 2 sau 3 deschideri. O
        ușă împărțită în 5 ochiuri de sticlă este mai scumpă decât o ușă cu
        sticlă de sus până jos. Alege varianta mai simplă!<br />8.<b
          >Deschiderea pe balamale. </b
        >În cazul ușilor pe care vrei să le montezi în exterior, în interior
        optează pentru un sistem de deschidere clasic, pe balamale. Sistemele
        culisante / glisante sunt mai scumpe, deși au un farmec aparte. <br />
        9.<b>Închiderea în mai puține puncte. </b>Atunci când alegi uși de
        interior din PVC este important să știi că poți cere mai puține puncte
        de închidere (adică o broască cu o singură închidere). Nu e necesar să
        optezi un sistem de închidere multipunct (sisteme suplimentare de
        blocare). <br />
        În orice situație te-ai afla, nu renunța niciodată la calitate! Uită-te
        la acele aspecte care optimizează direct izolarea fonică, termică.<br /><br />
        Ai încredere în specialist. Există un motiv pentru care te sfătuiește
        anumite lucruri. Pune întrebări - cu cât pui mai multe întrebări, cu
        atât ți-e mai clar ce vei obține, ce beneficii există și care sunt
        beneficiile pe termen lung.<br /><br />
        Și după cum deja te-am obișnuit, suntem aici să te ghidăm în acest
        proces, să îți răspundem la întrebări oricâte ar fi. Iar dacă crezi că
        acest articol e vital să ajungă la cât mai multă lume, dă un share.
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
