{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img
        class="img-responsive"
        src="{% static 'images/articol1.png' %}"
      />
    </div>
    <div class="col-lg-6">
      <h2>De ce se aburesc geamurile iarna?</h2>
      <p>
        Poate a trecut ceva vreme de când ți-ai construit o casă și ai ales
        geamuri, uși, plase de insecte. Sau poate ai renovat un apartament și ai
        înlocuit geamurile sau ușa de balcon. Și îți imaginai cum vei sta
        înfofolit pe canapea și vei admira fulgii de zăpadă la prima ninsoare…
        Și a venit și ziua aceea. A trecut prima și a doua ninsoare. Și în loc
        să te bucuri așa cum ai visat, te-ai trezit că nu vezi nimic! Pentru că
        geamul era aburit! Evident că ai si început să te întrebi de ce se
        aburesc geamurile iarna? De ce nu și toamna?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Și apoi ștergi o dată, de două ori, de trei ori. Hai să fim serioși -
        cui îi place să aibă ușa balconului aburită sau geamul acela mare din
        sufragerie aburit sau care poate chiar curge? <br /><br />Și într-un
        final îți faci curaj și-l suni pe meșterul care ți-a montat geamul fiind
        100% convins că rezolvarea problemei tale e la el. Dacă totuși vrei mai
        multe detalii, îți oferim noi câteva motive reale, iar mai jos ce poți
        face concret.
      </p>
      <p>Geamurile se aburesc în special iarna pentru că:</p>
      <ul>
        <li>
          Umezeala din interiorul locuinței (pentru că locuiești într-o casă
          nouă, iar pereții nu sunt uscați, ai igrasie în casă, plantele de pe
          pervaze, etc);
        </li>
        <li>Pierderea etanșeității pachetului de sticlă;</li>
        <li>
          Exploatarea / folosirea uzuală (adică practic, trecerea timpului);
        </li>
        <li>Materialele de sigilare folosite au fost de proastă calitate;</li>
        <li>
          Pentru că pornești sistemul de încălzire care generează diferență de
          temperatură între interior și exterior
        </li>
        <li>Uscarea hainelor pe calorifere.</li>
      </ul>
      <p>Dar iată ce poți face pentru a opri acest lucru:</p>
      <ul>
        <li>Aerisire zilnică;</li>
        <li>Dezumidificarea aerului;</li>
        <li>Mutarea plantelor în alte zone luminoase mai departe de geam;</li>
        <li>Uscarea hainelor în uscătoare;</li>
        <li>
          Draperiile și perdelele sunt la o distanță de min. 15 cm față de geam;
        </li>
        <li>
          Curăță bine geamurile astfel încât grăsimea / excesul de produse să nu
          rămână în punctele de aerisire ale geamului.
        </li>
      </ul>
      <p>
        Când trebuie schimbat pachetul de sticle al geamului? Când apare
        umezeală în interiorul geamului - pachetul de sticle s-a fisurat și
        necesită înlocuire.<br />Te sfătuim să iei în calcul și aspecte precum
        schimbările de anotimp din zona noastră, diferențele mari de temperatură
        și alte aspecte climatice care nu pot fi controlate. Iar dacă consideri
        că te putem ajuta, nu ezita să ne contactezi! Suntem la un telefon
        distanță!<br />Acum că știi ce poți face ca să nu mai ai geamuri
        aburite, avem altă întrebare pentru tine: Știai că plasele de țânțari se
        rup? Dacă nu, află cum poți preveni asta dând click
        <a href="/articol2/">AICI</a>.<br />Dacă acest articol ți-a fost util și
        ar ajuta și pe alții, te rugăm să de ajuți cu un share astfel încât să
        ajungă la cât mai multă lume!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
