{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol3.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>
        De ce durează mult un proces de montare a geamurilor / ușilor ?
      </h2>
      <p>
        Tocmai ce ți-ai ales tâmplăria, stilul, culoarea pentru viitoarele tale
        geamuri și uși la noua ta casă. Te gândești cu entuziasm cum îți vei
        admira copiii cum se joacă în curte sau partenerul cum spală mașina -
        apoi auzi termenul dat de specialist: aproximativ o lună până ajung
        produsele. De ce durează mult un proces de montare a geamurilor /
        ușilor? <br />Iată câteva motive:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        1. Produsele (respectiv tâmplăria și sticla care puse împreună vor forma
        produsele finale) se comandă de multe ori din fabrici / locații / orașe
        diferite.<br /><br />
        2. Transportul: Manevrarea produselor se face strict cu forță umană;
        adică fiecare piesă de tâmplărie sau sticlă este manipulată manual
        tocmai din grijă față de calitatea produsului final.<br /><br />
        3. Durata procesului de producție: Montajul final se realizează în
        funcție de data la care a fost plasată comanda către fabrici, data la
        care ajung produsele la noi în depozit.<br /><br />4. Timpul destinat
        montajului efectiv poate să difere în funcție de situația întâlnită la
        locuința clientului.<br /><br />5. Anumite perioade sunt mai aglomerate
        pentru fabrici din diverse motive (mai multe comenzi, persoane care
        pleacă în concedii, sărbători legale, perioade dificile pentru
        comunitate - contextul politic din zonă, lipsa materiei prime, etc) și
        automat acest lucru afectează și activitatea celor care asigură
        montajul.<br />Pentru o planificare cât mai realistă, mai rapidă,
        personalizată pe nevoile tale, te rugăm sa ne contactezi
        <a href="/contact/">AICI</a> sau la numărul de telefon: 0771 420 554.<br />
        Acum că ai aflat care sunt factorii care influențează timpul de montare,
        te invităm să afli ce dă prețul unei lucrări, unde poți face economie
        <a href="/articol9/">AICI</a>, ce e cel mai important și alte aspecte
        valoroase <a href="/articol5/">AICI</a>.<br />
        Abia așteptăm să fim alături de tine în alegerea geamurilor, ușilor
        visurilor tale!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
