{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol7.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>Ce este sticla tripan?</h2>
      <p>
        Odată cu îmbunătățirea metodelor în producția de construire a geamurilor
        termopan, a apărut un nou tip: cel tripan. Dar ce este sticla tripan? La
        ce ajută? De ce este mai bună decât sticla termopan? (Despre sticla
        termopan poți citi <a href="/articol6">AICI</a>).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Pe același principiu ca sticla termopan, geamul tripan este format din
        trei sticle cu o baghetă distanțier între ele. Și aici, recomandăm
        introducerea / comandarea acelor tipuri de sticlă tripan care au în
        componența lor gazul argon.<br />Geamul tripan oferă o mai bună izolare
        termică, fonică decât geamul termopan. Noi recomandăm acest tip de
        pachet celor care doresc un confort sporit pe termen lung în locuința
        lor. Geamul tripan este cu 10%-20% mai scump decât geamul termopan, dar
        beneficiile sunt pe măsură. Un aspect de menționat e că și grosimea
        baghetelor distanțier se pune în funcție de tipul de pachet de sticle
        ales. Pachetul tripan trebuie să aibă o grosime minimă de 32 mm, astfel
        încât să fie unul performant.<br />De ce să alegi geamul tripan?<br />
      </p>
      <ul>
        <li>Oferă o mai bună izolare fonică și termică.</li>
        <li>
          Faci economii la energia termică (iarna poți să faci economie de până
          la 30% față de un geam termopan)
        </li>
        <li>Prezintă un risc mic de apariție a umezelii / condensului.</li>
        <li>Au o siguranță mai mare împotriva efracției și a șocurilor.</li>
        <li>
          Previne producerea igrasiei, mucegaiului sau a mirosurilor neplăcute.
        </li>
      </ul>
      <p>
        Evident, există și unele dezavantaje față de geamul termopan: preț mai
        mare, greutate mai mare a geamului efectiv (cu până la 30 kg/mp ceea ce
        face montajul mai greu și mai scump, automat durata montajului
        propriu-zis poate să dureze mai mult).<br />
        Noi recomandă geamurile tripan din motivele enumerate mai sus. Prețul se
        amortizează într-un timp relativ scurt, iar de celelalte dezavantaje ne
        ocupăm noi! Ne dorim să ai parte de confort, să te bucuri de familia ta
        în liniștea casei indiferent de anotimp!<br />
        Probabil deja știi, ai întrebări, nelămuriri - contactează-ne! Abia
        așteptăm să te ajutăm!
      </p>
    </div>
  </div>
</div>
</div>>
{% endblock main %}
