{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol10.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>
        Tipuri de plase de insecte - avantaje și dezavantaje
      </h2>
      <p>
        Acum că ți-ai montat geamurile și ușile, te-ai bucurat de razele
        soarelui de dimineață și picuri de ploaie, iată că a venit vara și te-ai
        gândit, ca tot omul, să-ți montezi și plase de insecte. Ca să stai
        liniștit în casă cu geamurile și ușile larg deschise și în canicula
        verii. Apoi ai început să cauți ce tipuri de plase de insecte există, ce
        avantaje și dezavantaje au. Sau poate nu ai căutat, ci doar ai sunat
        specialistul care ți-a montat celelalte piese și te întreabă dacă vrei
        clasice sau plisee sau rulouri. Poate n-ai înțeles nimic și chiar ai
        renunțat la comanda, dar permite-ne să-ți explicăm cum stă treaba cu
        plasele.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Ce sunt plasele de insecte? Plasele de insecte sunt elemente / piese de
        protecție împotriva insectelor (amuzant, nu? Exact cum le zice numele!),
        formate dintr-un cadru de aluminiu și o plasă sau sită. Sitele plaselor
        sunt realizate dintr-un material foarte rezistent numit prolipropilenă.
        Acest material este foarte ușor ca greutate, dar este foarte rezistent
        în timp și în diverse condiții meteorologice.<br />
        Acestea se fac la comandă, personalizat pe mărimea geamului / ușii
        dorite. Plasele de insecte asigură un grad mare de confort pe timpul
        verii și te protejează de multe insecte nedorite. <br />Există 4 tipuri
        de plase de insecte: roll-out, plisse, tip rulou sau fixe (sau clasice,
        cum zicem noi).
      </p>
      <ul>
        <li>
          <b>Ce sunt plasele fixe / clasice?</b> Plasele clasice sunt acele
          plase fixe, care au închidere / deschidere pe balamale. Sunt formate
          dintr-un cadru de aluminiu cu accesorii din plastic și o plasă / sită
          din prolipropilenă. Acest material - prolipropilena - este un material
          rezistent în timp, dacă este păstrat în condiții optime, cu ochiuri
          foarte mici și care ține insectele mici sau mari la distanță. Citește
          <a href="/articol2/">AICI</a> cum poți prelungi durata de viață a
          plasei de insecte. Culoarea este cea aleasă de tine din oferta noastră
          variată. Acest tip de plasă se fabrică la comandă în funcție de
          mărimea ferestrelor.
        </li>
        <li>
          <b>Ce sunt plasele tip rulou?</b>Acest tip de plase sunt plase formate
          dintr-un cadru de aluminiu fix, o carcasă de aluminiu fixă și plasă /
          sită din prolipropilenă și accesoriile aferente. În carcasă se află
          axul pe care se învârte plasa atunci când vrei să o ridici. Plasa tip
          rulou este mai modernă, mai ușor de manevrat, nu necesită demontarea
          în anotimpurile reci (tocmai pentru că plasa se adună în carcasa de
          aluminiu). Există plase tip rulou vertical, lateral sau dublu lateral.
          Plasele tip rulou sunt mai durabile în timp decât cele fixe, au design
          modern, sunt mai ușor de manevrat, mai rezistente la schimbările
          climatice și, după cum probabil te așteptai deja, mai scumpe.
        </li>
        <li>
          <b>Ce sunt plasele plisse?</b>Plasele plisse sunt formate dintr-un
          cadru de aluminiu, cu sită de prolipropilenă pliabilă în formă de
          zig-zag (sau linie frântă) și accesoriile aferente. Au un design
          modern și elegant și sunt recomandate mai mult în spațiile destinate
          clienților (restaurante, hoteluri, pensiuni, etc.). La acest tip de
          plase nu este necesară demontarea pe timp de iarnă ceea ce le face mai
          ușor de manevrat decât cele fixe. Au durabilitate mai mare în timp și
          sunt mai rezistente la condițiile meteorologice. Sunt disponibile în
          mărimi mari atât pentru uși, cât și pentru geamuri mari.
        </li>
        <li>
          <b>Ce sunt plasele roll-out?</b>Plasele de tip roll-out sunt o
          alternativă la cele de tip rulou cu o diferență majoră: acest tip de
          plasă poate fi produs în mărimi mari și foarte mari fiind recomandate
          mai ales pentru uși, uși culisante / glisante în spații hoteliere,
          comerciale, etc. Aceste plase sunt ușor de manevrat și au două
          posibilități de de deschidere: lateral sau dublu lateral. Au de
          asemenea un design modern, ușor de folosit și nu necesită demontare.
        </li>
      </ul>
      <p>
        Indiferent ce tip de plasă alegi este important să știi că toate plasele
        de țânțari sunt ușor de manevrat și de întreținut, asigură o bună
        circulație a aerului în locuință și îți permit aerisirea rapidă pe
        parcursul anotimpurilor mai călduroase. Plasele de țânțari se încadrează
        ușor în orice tip sau culoare de tâmplărie și țin departe insectele de
        interiorul casei tale. Montajul lor este mai rapid decât cel al
        geamurilor, iar efectele sunt de lungă durată.<br />
        Orice întrebări mai ai vizavi de plasele de insecte - dar nu numai - îți
        stăm cu drag la dispoziție. Ne plac clienții care vor să înțeleagă ce
        comandă! Iar dacă consideri că acest articol este util, trimite-l în
        privat unui prieten sau dă un share să se bucure cât mai multă lume de
        el!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
