{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol6.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>Ce este sticla termopan?</h2>
      <p>
        Știai că în anul 1835 chimistul și fizicianul francez Henri Victor
        Regnault a descoperit PVC-ul DIN GREȘEALĂ? Apoi în 1925 s-a descoperit
        și capacitatea acestei subtanțe de a se transforma în plastic. Este un
        plastic care a schimbat istoria din mai multe puncte de vedere. Un
        domeniu care s-a modificat radical a fost cel al tâmplăriei
        termoizolante încă din 1960. Probabil ai auzit și tu de foarte multe ori
        cuvântul termopan, dar nu știai exact ce înseamnă. Așadar, hai să
        clarificăm acum, ce este termopanul sau altfel spus sticla termopan?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Geamul sau sticla este un set de două sticle lipite etanș (perfect
        închis, nu permite să intre / iasă aerul, gazul, fluidele, lichidele,
        etc) și separate între ele cu un distanțier numit
        <a href="/articol8/">baghetă</a>. În interiorul acestor baghete se pun
        niște biluțe speciale menite să absoarbă umiditatea. Aceste biluțe se
        numesc în termeni de specialitate granule de silicagel. Pentru ca foile
        de termopan să fie cât mai performante și să mențină confortul termic in
        interiorul locuinței, între foile de sticlă se introduce și gaz.<br />
        Acest gaz este de două feluri: argon și kripton (majoritatea
        producătorilor folosesc argon). Argonul este un tip de gaz care se
        regăsește 1% în aerul pe care îl respirăm, nu este toxic și izolează mai
        bine ca aerul. Argonul face ferestrele mai durabile în timp, previne
        producerea de umezeală între sticle, limitează pierderea căldurii - pe
        scurt, chiar aduce valoare unui geam.<br />
        Lăsăm mai jos câteva sfaturi - ce să ceri de la profesioniștii cu care
        alegi să lucrezi pentru a avea un geam termopan cât mai durabil și mai
        calitativ.
      </p>
      <ul>
        <li>
          Gazul argon crește izolarea termică - verifică ca geamul pe care îl
          alegi să aibă această calitate. Întrebă profesionistul pe care l-ai
          ales, iar dacă consideri că te putem ajuta, nu uita, suntem mereu
          aici.
        </li>
        <li>
          Geamul / sticla termopan să fie fabricat de un specialist! Mare grijă
          aici, se practică destul de mult, din păcate, ca sticle făcute de
          neprofesioniști să ajungă să fie montate în profile, apoi în casele
          oamenilor și generează doar probleme.
        </li>
        <li>
          Cere sfatul unui specialist dacă ai sticle de mari dimensiuni (știi
          tu, livingul acela cu geamuri de sus până jos). Este necesară o sticlă
          securizată astfel încât să nu se spargă, să prevină accidentările (mai
          ales la spațiile industriale, balustrade, balcoane, uși de balcon,
          etc).
        </li>
        <li>
          Recomandăm folosirea cel puțin a unei sticle cu protecție: de genul 4
          anotimpuri sau Low-e (Low emissivity). Sticla 4 anotimpuri nu permite
          trecerea radiaților ceea ce duce la o atmosferă mai răcoroasă vara.
          Sticla Low-e este acea sticlă care permite trecerea radiaților solare
          spre interiorul locuinței. Acest tip de sticlă este recomandat mai
          ales în zonele mai răcoroase, cum ar fi la munte.
        </li>
        <li>
          Probabil cea mai importantă caracteristică a sticlei termopan este
          grosimea. Cel mai indicat este ca pachetul de sticle să aibă minim 24
          de mm.
        </li>
      </ul>
      <p>
        Pe lângă tipul de sticlă termopan, mai există și cel tripan. Te invităm
        să citești <a href="/articol7/">AICI</a> ce este sticla tripan, ce
        beneficii are, de ce este mai recomandată decât cea simplă, etc.
        <br />
        Dacă ai neclarități, întreabă specialistul de fiecare dată până ți-e
        clar ce urmează să comanzi pentru că, să fim serioși, poate doar o dată
        în viață îți montezi geamurile la casă.
        <br />
        Dacă ai primit o ofertă și poate nu știi cum să o interpretezi, suntem
        aici să te ajutăm! Nu ezita să ne contactezi pe email sau la telefon!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
