{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol8.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>Ce este bagheta distanțier?</h2>
      <p>
        Dacă ești în căutarea unor specialiști care să te ajute cu montajul unor
        geamuri / uși, cel mai probabil că în ofertele pe care le-ai primit sau
        în discuțiile avute ai tot auzit de baghetă distanțier, de ce e
        important să existe în componența pachetului de sticle. Ai tot auzit că
        geamurile nu mai fac condens dacă folosești aia sau cealaltă, dar ce
        este bagheta distanțier?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Bagheta este o componentă esențială a pachetului de sticle care desparte
        sticlele (că sunt două în cazul geamurilor termopan sau trei, în cazul
        geamurilor tripan). Baghetele sunt folosite pentru a scădea cantitatea
        de căldură care se pierde prin marginile geamului. Din dorința de a crea
        eficiență cât mai mare, producătorii au inventat mai multe tipuri de
        baghete: cea clasică (de aluminiu) și cea Warm Edge (varianta mai
        modernă).<br /><br />Bagheta de aluminiu este dintr-un material “rece”.
        Aluminiul este conductor termic ceea ce înseamnă că preia temperatura
        exterioară și o aduce în interior. Ceea ce înseamnă că pe margini,
        geamul termopan / tripan este rece si duce la creșterea riscului de
        apariție a umezelii / condensului. Per ansamblu, scade performanța
        termică a geamului.<br />Astăzi vom discuta mai mult despre bagheta Warm
        Edge (bagheta caldă) datorită multiplelor beneficii pe care le prezintă.
        Recomandăm acest tip de baghetă pentru că:
      </p>
      <ul>
        <li>
          Contribuie la reducerea apariției condensului / umidității între foile
          de sticlă (cu până la 50% mai mult față de cea de aluminiu).
        </li>
        <li>Asigură o izolare fonică mai bună.</li>
        <li>
          Izolare termică mai bună (materialul din care este făcut nu este
          conductor termic).
        </li>
        <li>Împiedică pierderea gazului argon din pachetul de sticle.</li>
        <li>
          Este o condiție pentru a obține un certificat de casă pasivă dacă ai
          în compoziția geamului acest tip de baghetă.
        </li>
        <li>Sunt disponibile pe mai multe culori.</li>
      </ul>
      <p>
        Pe scurt, bagheta Warm Edge, deși e un produs mic și poate
        nesemnificativ pentru unii, chiar contribuie la izolarea mai bună a
        casei. Recomandăm să îți iei timpul necesar de gândire, analizare și
        decizie atunci când vrei să-ți montezi geamurile / ușile. Nu fă economie
        de la acele elemente care contribuie într-un mod real la izolarea
        termică și fonică a locuinței tale! Citește
        <a href="/articol9/">AICI</a> unde poți economisi când vine vorba de
        geamuri / uși / montaj, etc.<br />Așa cum deja te-am obișnuit, la noi
        poți apela când dorești! Îți răspundem la toate întrebările, iar dacă
        poate nu știm un subiect anume - promitem să ne informăm și revenim cu
        răspuns!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
