{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol2.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>De ce se rup plasele de insecte?</h2>
      <p>
        Și iată de câteva luni ne bucurăm de o vară frumoasă, cu multă căldură,
        cu zile senine, cu răcoarea mult așteptată a serii și … cu insecte care
        mai de care. Dar tu te-ai pregătit oricum din timp, așa că nu îți faci
        griji și-ți montezi plasele de insecte la geamuri /uși. Montezi plasele
        la locul lor și îți spui că asta e, să vină țânțarii că tu oricum dormi
        noaptea liniștit. Ei, și ce să vezi? Ai montat plasa, trec 2-3 zile și
        se rupe. De ce se rup, totuși, plasele de țânțari? <br />Dacă nu îți
        explici cum sau de ce, nicio grijă - ai nimerit în locul potrivit.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Plasele de insecte se rup pentru că au fost expuse la condițiile meteo
        diverse.<br />Evident că odată plasele rupte nu îți mai rămâne altceva
        de făcut decât să le înlocuiești. Pe noi știi deja unde ne găsești, dar
        iată câteva sfaturi care te pot ajuta să prelungești durata de viață a
        plaselor tale de insecte.<br />1. În anotimpurile reci, demontează
        plasele (e destul să le scoți din balamale - vezi mai jos exact cum) și
        depozitează-le într-un loc uscat, ferit de ploaie, ninsoare, îngheț /
        dezgheț.<br />2. Înlocuirea pieselor deteriorate (plasa efectivă,
        componentele de plastic - balamale, închizători, mânere, colțare).<br />Mai
        ai întrebări sau nevoie de ajutor? Scrie-ne pentru că noi abia așteptăm
        să te ajutăm!<br />Dacă acest articol ți-a fost util și ar ajuta și pe
        alții, te rugăm să de ajuți cu un share astfel încât să ajungă la cât
        mai multă lume!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
