{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol4.png' %}" />
    </div>
    <div class="col-lg-6">
      <h2>
        Termopane - 7 secrete ca să le alegi pe cele mai bune!
      </h2>
      <p>
        Probabil ai auzit și tu că atunci când îți faci o casă sau renovezi una
        mai veche, multe lucruri pot să devină o povară. Parțial acest lucru
        este adevărat dintr-un motiv foarte simplu: pur și simplu nu ești
        informat - și este perfect în regulă; nu avem cum să le știm pe toate.
        Până la urmă, “cât trăim, învățăm”. Sau poate că nu ai timpul necesar să
        te informezi din surse multiple astfel încât să iei cea mai bună decizie
        legată de geamuri, uși, mobilă, pardoseala, etc. Te-ai întrebat vreodată
        cum poți alege cele mai bune geamuri termopan?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-32">
      <p>
        Îți prezentăm 7 secrete ca să le alegi pe cele mai bune!
      </p>
      <ul>
        <li>Profilul tâmplăriei</li>
        <li>Sticla termopan</li>
        <li>Feroneria (balamale, închizători, etc)</li>
        <li>Unele accesorii suplimentare</li>
        <li>Garanția produsului final</li>
        <li>Prețul</li>
        <li>Calitatea montajului.</li>
      </ul>
      <h3>1. Profilul tâmplăriei</h3>
      <p>
        Un profil este o structură de tâmplărie (cadrul geamului) din PVC-ul
        (policlorura de vinil) sau aluminiu, un produs cu rezistență mare în
        timp. <br />La ce trebuie să fii atent vizavi de profilul geamului tău:
      </p>
      <ul>
        <li>
          grosimea pereților exteriori (profilele sub 3mm fac parte din clasa B,
          cele cu grosime peste 3mm fac parte din clasa A)
        </li>
        <li>lățimea (adâncimea) profilelor (minim 70mm)</li>
        <li>
          câte chedere are tocul (majoritatea au două, noi recomadăm 3, inclusiv
          cheder central)
        </li>
        <li>
          grosimea armăturii din interiorul profilelor (profile din oțel la
          interior), cât si suprafața profilului intărită de aceasta
        </li>
        <li>denumirea producătorului (Rehau, Aluplast)</li>
      </ul>
      <h3>2. Sticla termopan</h3>
      <p>
        Atunci când alegi sticla de termopan, e necesar să fii atent la
        următoarele aspecte:
      </p>
      <ul>
        <li>grosimea pachetului de sticlă (minim 24 de mm)</li>
        <li>
          baghetă distanțier dintre sticlele de geam (din aluminiu sau Warm
          Egde)
        </li>
        <li>
          folie de geam (float, float clară, reflectorizantă, cu acoperire de
          joasă emisivitate, laminată, sablată, ornamentală, securizată)
        </li>
        <li>gazul dintre foile de sticlă (argon sau kripton).</li>
      </ul>
      <h3>3. Feroneria</h3>
      <p>Recomandăm să urmăresti următoarele aspecte:</p>
      <ul>
        <li>rezistentă la coroziune / rugină,</li>
        <li>balamalele să fie reglabile și să susţină și greutăți mari,</li>
        <li>
          să fie tratată în mod special astfel încât coeficientul de frecare
          dintre elemente să fie cât mai mic (evident, ceea ce prelungește
          durata de viață),
        </li>
        <li>să aibă o gamă variată de deschideri pe forme cât mai diverse,</li>
        <li>
          să ofere posibilitatea realizării reglajelor la cea mai înaltă
          calitate,
        </li>
        <li>să prezinte o distribuție bună și foarte bună a etanșării.</li>
      </ul>
      <h3>4. Unele accesorii suplimentare</h3>
      <p>
        Există anumite accesorii suplimentare pe care le poți alege dacă dorești
        un confort cât mai mare pe termen lung. Cum ar fi:
      </p>
      <ul>
        <li>grile de aerisire</li>
        <li>plase de insecte tip rulou / plisee</li>
        <li>sisteme de umbrire</li>
        <li>pervaze de aluminiu la exterior și de PVC la interior.</li>
      </ul>
      <h3>5. Garanția produsului final</h3>
      <p>
        Atunci când alegi să îți schimbi geamurile / ușile, renovezi sau
        construiești, alege o firmă serioasă care te poată ajuta în acest
        proces. Dacă ne alegi pe noi beneficiezi de garanție de:
      </p>
      <ul>
        <li>2 ani pentru pervaze (de aluminiu sau pvc)</li>
        <li>5 ani pentru geamuri și uși</li>
        <li>2 ani pentru rulourile din aluminiu</li>
        <li>2 ani pentru ușile PVC de trafic intens</li>
        <li>3 an pentru plasele antiinsecte</li>
      </ul>
      <h3>6. Prețul</h3>
      <p>
        Evident, când vine vorba de construcții, prețul este cel mai discutat.
        Și montarea de geamuri sau uși nu este cu nimic mai diferită.<br />
        Cel mai adesea, clienții ne spun că la X este mai ieftin sau mai scump,
        că montajul se realizează în diverse moduri și idei care mai de care mai
        năstrușnice.<br />
        Prețul este direct proporțional cu calitatea / consultanța oferită,
        direct influențabil de aspecte de la montaj (de exemplu, dacă montajul
        este la o casă veche sau la o casă nouă, dacă trebuie dat jos alt geam,
        un toc înțepenit, etc).<br />
        Pentru noi este important ca prețul să fie realist pentru client, dar să
        reflecte și munca noastră. Ne asigurăm mereu că avem printre cele mai
        bune prețuri de piață raportat la ce oferim.<br />
        Bucuria cea mai mare o avem atunci când clienții noștri înțeleg în urma
        sesiunii de consultanță importanța beneficiilor pe care le oferim și de
        ce e important pe termen lung să alegi produse de cea mai bună
        calitate.<br />
        Mai multe detalii despre preț găsești <a href="/articol5/">AICI</a>.
      </p>
      <h3>7. Calitatea montajului</h3>
      <p>
        Probabil că acesta este cel mai subiectiv aspect când vine vorba de a-ți
        alege niște meșteri cu care să lucrezi într-un domeniu. Recomandarea
        noastră este să cauți acele persoane / acea firmă care își ia timp să
        îți explice fiecare pas dacă ești interesat evident, echipă care să fie
        în bugetul tău, să respecte termenele de livrare / montaj / facturare,
        etc.<br />Caută recomandări pentru firma pe care ai ales-o, întreabă
        alți clienți care au apelat la serviciile lor, verifică din mai multe
        surse întotdeauna.<br />
        Până la urmă, de geamuri și de uși ai nevoie zilnic, ba chiar de mai
        multe ori pe zi; este esențial să fie produse bune, calitative care să
        îți asigure confortul visat.<br />
        Dacă pentru tine a fost de ajutor acest articol și crezi că ar ajuta și
        pe alții, te rugăm să ne dai un share! Iar dacă ai întrebări
        suplimentare / dorești să te ajutăm la montaj, nu ezita să ne
        contactezi!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
