{% extends "base.html" %} {% load static %} {% block main %}
<div class="articol">
<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="{% static 'images/articol5.png' %}"/>
    </div>
    <div class="col-lg-6">
      <h2>Prețul unei lucrări de montaj</h2>
      <p>
        În drumurile noastre, ne-am intersectat de foarte multe ori de
        întrebarea “Cât costă?” / “De ce costă atât?” / “Nu se poate mai
        ieftin?”. Pentru că deja știi că tot ce ne dorim e să venim în
        întâmpinarea nevoilor tale, iată mai jos câteva exemplificări clare ale
        prețului unei lucrări de montaj.<br />Ce influențează prețul unei
        lucrări de montaj?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        1. <b>Distanță + transport</b>:dacă dorești să te ajutăm, o facem cu
        drag oriunde în țară cu transportul inclus în preț (de exemplu, o
        lucrare în județul Cluj din acest punct de vedere, va fi mai ieftină
        decât una în județul Mureș).<br />
        2. <b>Numărul de piese</b>: evident, putem negocia la preț dacă ai
        nevoie de un număr mai mare de piese, dar la 1 / 2 piese, prețul este
        nenegociabil.<br />
        3. <b>Profilul ales</b>: fiecare profil are alt preț raportat la nivelul
        existent în piață într-o anumită perioadă (același profil poate fi mai
        scump acum decât anul trecut așa că este aproape inutil să ne spui că un
        prieten și-a făcut cu X lei sau alte aspecte de genul).<br />
        4. <b>Tipul de sticlă aleasă</b>: aici este vorba despre tipul de sticlă
        pe care îl alegi (sticlă normală, sticlă mată, sticlă 4 anotimpuri,
        sticlă ornamentală, sticlă laminată, etc).<br />
        5. <b>Pachet de sticlă</b>: există 2 tipuri mari de pachete de sticlă:
        sticlă termopan și tripan. Sticla termopan este cea formată din 2 folii,
        iar sticla tripan este cea formată din 3 folii. Pentru mai multe detalii
        despre sticla termopan, dă click <a href="/articol6/">AICI</a>, iar
        pentru cea tripan <a href="/articol7/">AICI</a>.<br />
        6. <b>Culoarea dorită</b>: cea mai accesibilă culoare ca preț este
        culoarea albă. Dacă dorești să faci anumite economii, poți să alegi alb
        și garantat va ieși frumos. Evident, orice culoare dorești, putem să
        facem (nuc, stejar auriu, stejar inchis, mahon, gri antracit, verde,
        albastru, etc).<br />
        7. <b>Complexitatea lucrării</b>: probabil că nu ai știut până acum, dar
        prețul unei lucrări este influențat de un aspect simplu: dacă montarea
        se desfășoară într-o locuință nouă sau veche. Munca efectivă este
        afectată mult de dificultatea lucrării, de condițiile găsite la fața
        locului (de exemplu, dacă există un toc sau o ramă veche care trebuie
        dată jos, e logic că durează mai mult și implicit costă mai mult).<br />
        Pentru a obține un preț cât mai exact al lucrării tale, este nevoie de o
        măsurătoare la fața locului în acele zone unde dorești să montezi /
        schimbi / îmbunătățești geamurile sau ușile.<br />
        Sperăm că acest articol ți-a răspuns la întrebări, iar dacă mai ai
        nevoie de alte detalii, nu ezita să lași un comentariu mai jos sau să ne
        contactezi în privat! Iar dacă consideri că este util să afle și alții
        aceste informații, te invităm să ne dai un share pe social media!
      </p>
    </div>
  </div>
</div>
</div>
{% endblock main %}
