{% extends "base.html" %} {% load static %} {% block main %}
<div class="blog">
<div class="banner-blog">
  <div class="container">
      <h1 class="text-center blog-title">Blog MARUT</h1>
  </div>
</div>
    <div class="container">
      <div class="row" style="padding-bottom: 50px">
        <div class="leftcolumn">
          <a href="/articol1/" class="blog-card card card1">
            <h3>De ce se aburesc geamurile iarna?</h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol1.png' %}" />
            <p style="margin-top: 5px">
              ...Și în loc să te bucuri așa cum ai visat, te-ai trezit că nu
              vezi nimic! Pentru că geamul era aburit! Evident că ai si început
              să te întrebi de ce se aburesc geamurile iarna? De ce nu și
              toamna?
            </p>
          </a>
          <a href="/articol3/" class="blog-card card card2">
            <h3>
              De ce durează mult un proces de montare a geamurilor / ușilor?
            </h3>
            <p>31 iulie 2022</p>
              <img src="{% static 'images/articol3.png' %}" />
            <p style="margin-top: 5px">
              Tocmai ce ți-ai ales tâmplăria, stilul, culoarea pentru viitoarele
              tale geamuri și uși la noua ta casă. Te gândești cu entuziasm cum
              îți vei admira copiii cum se joacă în curte sau partenerul cum
              spală mașina - apoi auzi termenul dat de specialist: aproximativ o
              lună până ajung produsele...
            </p>
          </a>
          <a href="/articol5/" class="blog-card card card1">
            <h3>Prețul unei lucrări de montaj</h3>
            <p>31 iulie 2022</p>
              <img src="{% static 'images/articol5.png' %}" />
            <p style="margin-top: 5px">
              În drumurile noastre, ne-am intersectat de foarte multe ori de
              întrebarea “Cât costă?” / “De ce costă atât?” / “Nu se poate mai
              ieftin?”. Pentru că deja știi că tot ce ne dorim e să venim în
              întâmpinarea nevoilor tale, iată mai jos câteva exemplificări
              clare ale prețului unei lucrări de montaj.
            </p>
          </a>
          <a href="/articol7/" class="blog-card card card2">
            <h3>Ce este sticla tripan?</h3>
            <p>31 iulie 2022</p>
              <img src="{% static 'images/articol7.png' %}" />
            <p>
              Odată cu îmbunătățirea metodelor în producția de construire a
              geamurilor termopan, a apărut un nou tip: cel tripan. Dar ce este
              sticla tripan? La ce ajută? De ce este mai bună decât sticla
              termopan?
            </p>
          </a>
          <a href="/articol9/" class="blog-card card card2">
            <h3>
              Cum poți economisi când vine vorba de geamuri / uși?
            </h3>
            <p>31 iulie 2022</p>
              <img src="{% static 'images/articol9.png' %}" />
            <p style="margin-top: 5px">
              Ne lovim de multe ori de expresii precum: “Este scump!”, “Nu se
              poate mai ieftin?”, “Cum pot economisi când vine vorba de geamuri
              / uși?”.
            </p>
          </a>
        </div>
        <div class="rightcolumn">
          <div class="spacer"></div>
          <a href="/articol2/" class="blog-card card card2">
            <h3>De ce se rup plasele de insecte?</h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol2.png' %}" />
            <p style="margin-top: 5px">
              Montezi plasele la locul lor și îți spui că asta e, să vină
              țânțarii că tu oricum dormi noaptea liniștit. Ei, și ce să vezi?
              Ai montat plasa, trec 2-3 zile și se rupe. De ce se rup, totuși,
              plasele de țânțari?
            </p>
          </a>
          <a href="/articol4/" class="blog-card card card1">
            <h3>
              Termopane - 7 secrete ca să le alegi pe cele mai bune!
            </h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol4.png' %}" />
            <p style="margin-top: 5px">
              Probabil ai auzit și tu că atunci când îți faci o casă sau
              renovezi una mai veche, multe lucruri pot să devină o povară.
              Parțial acest lucru este adevărat dintr-un motiv foarte simplu:
              pur și simplu nu ești informat - și este perfect în regulă; nu
              avem cum să le știm pe toate. Până la urmă, “cât trăim, învățăm”.
              Sau poate că nu ai timpul necesar să te informezi din surse
              multiple astfel încât să iei cea mai bună decizie legată de
              geamuri, uși, mobilă, pardoseala, etc. Te-ai întrebat vreodată cum
              poți alege cele mai bune geamuri termopan?
            </p>
          </a>
          <a href="/articol6/" class="blog-card card card1">
            <h3>Ce este sticla termopan?</h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol6.png' %}" />
            <p style="margin-top: 5px">
              Știai că în anul 1835 chimistul și fizicianul francez Henri Victor
              Regnault a descoperit PVC-ul DIN GREȘEALĂ?
            </p>
          </a>
          <a href="/articol8/" class="blog-card card card1">
            <h3>Ce este bagheta distanțier?</h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol8.png' %}" />
            <p style="margin-top: 5px">
              Dacă ești în căutarea unor specialiști care să te ajute cu
              montajul unor geamuri / uși, cel mai probabil că în ofertele pe
              care le-ai primit sau în discuțiile avute ai tot auzit de baghetă
              distanțier, de ce e important să existe în componența pachetului
              de sticle.
            </p>
          </a>
          <a href="/articol10/" class="blog-card card card1">
            <h3>
              Tipuri de plase de țânțari - avantaje și dezavantaje
            </h3>
            <p>31 iulie 2022</p>
            <img src="{% static 'images/articol10.png' %}" />
            <p style="margin-top: 5px">
              Acum că ți-ai montat geamurile și ușile, te-ai bucurat de razele
              soarelui de dimineață și picuri de ploaie, iată că a venit vara și
              te-ai gândit, ca tot omul, să-ți montezi și plase de insecte. Ca
              să stai liniștit în casă cu geamurile și ușile larg deschise și în
              canicula verii. Apoi ai început să cauți ce tipuri de plase de
              insecte există, ce avantaje și dezavantaje au...
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock main %}
