{% extends "base.html" %} {% load static %} {% block main %}
<div class="aluplast70">
  <div class="container">
    <h2 class="title text-center">REHAU EURO-DESIGN 70</h2>
    <div class="row">
      <div class="col-md-5">
        <h3 class="title2">De ce sa alegi fereastra REHAU EURO-DESIGN 70?</h3>
        <p>
          <b>Liniștea și siguranța unei ferestre de calitate.</b> Ferestrele
          REHAU EURO-DESIGN 70 asigură un nivel de izolare termică și fonică
          peste standard. Ferestrele sunt dotate cu feronerie și pachete de
          sticlă performante pentru obținerea unui grad de izolare ridicat. În
          plus, ferestrele sunt rezistente la fenomenele meteo extreme cum ar fi
          vânt în rafale puternice sau ploi în averse. Economisești an de an la
          factura de energie atât pe timp de vară, dar mai ales pe timp de
          iarnă.
        <br>
          <b>Preț echilibrat pentru succesul proiectelor tale.</b> REHAU
          EURO-DESIGN 70 sunt investiții de lungă durată, amortizabile în scurt
          timp. Costul este unul care nu îți va destabiliza bugetul și va fi
          conform cu spațiul de amenajat sau aflat în curs de modernizare.
          Gândim soluții personalizate pentru a furniza produse adaptabile
          perfect fiecărui proiect.
        </p>
      </div>
      <div class="col-md-7">
        <img
          class="center-block"
          src="{% static 'images/rehau70-4.png' %}"
        />
      </div>
    </div>
    <hr />
    <div class="row" style="background-color: #f5f7f7; padding-top: 20px">
      <div class="col-md-6">
        <p>
          <b>Perfecte pentru lucrări de reabilitare și modernizare.</b> În
          proiectele de reabilitare și modernizare înlocuirea ferestrelor vechi
          este de cele mai multe ori o etapă care nu poate fi evitată. Pe scurt,
          investești o sumă corectă care nu îți afectează bugetul. Desigur, te
          bucuri de ferestre premium cu ajutorul cărora poți salva cu până la
          75% din pierderile de energie pe care le aveai până să alegi
          schimbarea ferestrelor vechi.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="center-block"
          src="{% static 'images/rehau70-3.png' %}"
          width="75%"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h3 class="title2">Caracteristici tehnice și performanțe</h3>
        <ul>
          <li>
            <p>Material profil: PVC</p>
          </li>
          <li>
            <p>
              Coeficient de izolare termică: Uf până la 1,3 W/m²K
            </p>
          </li>
          <li>
            <p>Clasa de izolare fonică: 4</p>
          </li>
          <li>
            <p>Protecție antiefracție: WK2</p>
          </li>
          <li>
            <p>Grosime profil: 70 mm</p>
          </li>
          <li>
            <p>Lățime vizibilă profil: 96 mm</p>
          </li>
          <li>
            <p>Număr de camere constructive: 5 camere</p>
          </li>
          <li><p>Grosime pereți camere: 3 mm</p></li>
          <li>
            <p>Garnituri: 2 rânduri</p>
          </li>
          <li>
            <p>
              Feronerie: Roto cu balamale vizibile pe tocul ferestrei
            </p>
          </li>
          <li>
            <p>Pachete de sticlă: (min/max, mm) 24 – 40 mm</p>
          </li>
          <li>
            <p>
              Culori în gamă extinsă – cașerare sau vopsire
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock main %}
</div>
<div class="contact-card">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-responsive rounded" src="{% static 'images/contactUs2.png' %}" />
            </div>
            <div class="col-md-6">
              <div class="content">
              <p>
                Pentru mai multe informații sau nelămuriri legate de serviciile de
                tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
                noastră telefonic sau prin e-mail.
              </p>
              <a class="btn buton" href="/contact/">Contactează-ne</a>
            </div>
            </div>
        </div>
    </div>
  </div>
  {% endblock main%}
