{% extends "base.html" %} {% load static %} {% block main %}
<div class="aluplast70">
  <div class="container">
    <h2 class="title2 text-center">REHAU GENEO PHZ</h2>
    <div class="row">
      <div class="col-md-6">
        <h3 class="title2">De ce sa alegi fereastra REHAU GENEO PHZ?</h3>
        <p>
          <b>Calitate premium.</b> REHAU GENEO PHZ este o fereastră de top
          pregătită să facă față fără probleme condițiilor extreme de climă și
          de mediu. Cu încadrare până în clasa 5 de protecție fonică și până în
          clasa WK3 de protecție împotriva efracției, REHAU GENEO PHZ se va
          prezenta ireproșabil în fața ploilor în aversă, furtunilor sau
          curenților de aer puternici. Calitatea premium a ferestrei înseamnă
          rezultate precise în ceea ce privește izolarea termică pe tot
          parcursul anului și feronerie rezistentă la uzură. Calitatea noastră
          se traduce în performanțe de top pentru case care se fac remarcate.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="center-block img-responsive"
          src="{% static 'images/geneophz3.png' %}"
        />
      </div>
      <div class="col-lg-12">
        <p><b>Termoizolare și etanșeizare inegalabilă.</b> REHAU GENEO PHZ
          respectă caracteristicile caselor pasive. De aceea ferestrele noastre
          asigură pierderi minime de aer: pierderile de aer / oră sunt mai mici
          de 60% din volumul de aer aflat în interiorul casei. Eficiența
          ferestrelor se datorează celor 3 rânduri de garnituri coextrudate,
          precum și materialelor de cea mai bună calitate folosite în fabricarea
          ferestrelor: profile de top REHAU, pachete de sticlă cu 3 foi și
          feronerie ROTO LUX.</p>
      </div>
    </div>
    <hr />
    <div class="row" style="background-color: #f5f7f7; padding-top: 1rem">
      <div class="col-md-7">
        <p>
          <b>Rezistență pentru protecția casei.</b>
          REHAU GENEO PHZ nu garantează doar izolarea termică perfectă.
          Ferestrele asigură și un grad de rezistență ridicat, pentru a te putea
          bucura de aceleași performanțe inegalabile pentru cât mai mult timp.
          Atât sticla, dar și ramele și profilele oferă protecție împotriva
          încercărilor de intrare prin efracție. În funcție de fiecare cerință
          poți opta pentru un grad mai ridicat, sau mai scăzut de siguranță.
          Analizează gradul de risc al spațiului și alege soluțiile potrivite
          pentru securitatea casei tale.
        <br><br>
          <b>Feronerie de cea mai bună calitate.</b>
          Tipurile de feronerie produse pentru REHAU GENEO PHZ fac parte din
          gama ROTO Lux. Poți alege între balamale vizibile, sau ascunse și poți
          opta pentru elemente speciale de blocare pentru un plus de siguranță.
          Fiecare fereastră poate fi personalizată cu accesorii și feronerie
          diferite, în funcție de clasa de siguranță dorită. Ușurința în
          manevrare și rezistența în timp sunt caracteristicile principale ale
          feroneriei ROTO Lux, un element distinctiv al ferestrelor REHAU GENEO
          PHZ.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="center-block img-responsive"
          src="{% static 'images/geneophz2.png' %}"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h3>Caracteristici tehnice și performanțe</h3>
        <ul>
          <li>
            <p>
              Material profil: RAU – FIPRO®(PVC armat în masă)
            </p>
          </li>
          <li>
            <p>
              Coeficient de izolare termică: Uf până la 0,79W/m2K/p>
            </p>
          </li>

          <li>
            <p>
              Izolare fonică optimă: 5 (sticlă = 50 dB, RwP = 47 dB)
            </p>
          </li>
          <li>
            <p>
              Protecție antiefracție: până la clasa WK3 (WK2/fără oțel)
            </p>
          </li>
          <li>
            <p>Grosime profil: 86 mm</p>
          </li>
          <li>
            <p>înălțime vizibilă profill: 115 mm</p>
          </li>
          <li>
            <p>Număr de camere constructive: 6 camere</p>
          </li>
          <li>
            <p>Grosime pereți camere: 3 mm</p>
          </li>
          <li>
            <p>Garnituri: 3 rânduri</p>
          </li>
          <li>
            <p>
              Garnituri: 3 rânduri(cu garnitură mediană), gri
            </p>
          </li>
          <li>
            <p>
              Feronerie: ROTO cu balamale ascunse sau vizibile
            </p>
          </li>
          <li>
            <p>Pachete de sticlă: (min/max, mm) 44 – 52 mm</p>
          </li>
          <li>
            <p>
              Culori în gamă extinsă – cașerare sau vopsire
            </p>
          </li>
          <li>
            <p>
              Suprafața profilului: HDF – netedă, ușor de întreținut
            </p>
          </li>
          <li>
            <p>
              Posibilitatea de placare cu aluminiu la exterior
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock main %}
</div>
<div class="contact-card">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center">
              <img class="img-responsive rounded" src="{% static 'images/contactUs2.png' %}" />
          </div>
          <div class="col-md-6">
            <div class="content">
            <p>
              Pentru mai multe informații sau nelămuriri legate de serviciile de
              tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
              noastră telefonic sau prin e-mail.
            </p>
            <a class="btn buton" href="/contact/">Contactează-ne</a>
          </div>
          </div>
      </div>
  </div>
</div>
{% endblock main%}
