{% extends "base.html" %} {% load static %} {% block main %}
<div class="products-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Produsele noastre</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor blanditiis inventore ea, pariatur at sequi ipsam ducimus fuga id. Aliquam eveniet, fuga corporis ipsam
               ullam inventore laudantium officiis deserunt debitis?</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/produseleNoastre.png' %}" alt="" class="img-responsive rounded">
        </div>
    </div>
    </div>
</div>
<div class="products">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <a href="{% url 'ferestre' %}"><img src="{% static 'images/ferestre.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'usi' %}"><img src="{% static 'images/usi.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'rulouri' %}"><img src="{% static 'images/rulouri.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'accesorii' %}"><img src="{% static 'images/accesories.png' %}" alt="" class="img-responsive"></a>
          </div>
      </div>
  </div>
</div>
<div class="profile">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-center">Profilele noastre</h2>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor blanditiis inventore ea, pariatur at sequi ipsam ducimus fuga id. Aliquam eveniet, fuga corporis ipsam
             ullam inventore laudantium officiis deserunt debitis?</p>
      </div>
        <div class="col-md-6">
          <img src="{% static 'images/profile.png' %}" alt="" class="img-responsive rounded">
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock main %}
