{% extends "base.html" %} {% load static %} {% block main %}
<div class="products-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h2 class="text-center title">Produsele noastre</h2>
            <p class="text-center">Produsele cu care lucrăm se împart în 4 categorii mari: uși, ferestre, rulouri și accesorii.
              Mai jos puteți să găsiți detalii despre fiecare dintre aceste produse.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/produseleNoastre.png' %}" alt="" class="img-responsive rounded">
        </div>
    </div>
    </div>
</div>
<div class="products">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <a href="{% url 'ferestre' %}"><img src="{% static 'images/ferestre.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'usi' %}"><img src="{% static 'images/usi.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'rulouri' %}"><img src="{% static 'images/rulouri.png' %}" alt="" class="img-responsive"></a>
          </div>
          <div class="col-sm-6">
              <a href="{% url 'accesorii' %}"><img src="{% static 'images/accesories.png' %}" alt="" class="img-responsive"></a>
          </div>
      </div>
  </div>
</div>
<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center title">Profilele noastre</h2>
        <p>
          Profile inventate de companii cu experiență, companii ce
          prioritizează creativitatea și inovația: Aluplast și Rehau. Acestea
          sunt companiile a căror produse am ales să le folosim.
        </p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/profile.png' %}" class="img-responsive rounded"/>
      </div>
    </div>
    <div class="row align-items-center no-gutters">
      <div class="col-lg-6">
        <a class="card profile-card" href="/aluplast/">
          <img src="{% static 'images/aluplast.png' %}" />
          <div class="content">
            <h2 class="text-center">Aluplast70</h2>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a class="card profile-card" href="/eurodesign/">
          <img src="{% static 'images/rehau.png' %}" />
          <div class="content">
            <h2 class="text-center">Rehau Euro70</h2>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a class="card profile-card" href="/synego/">
          <img src="{% static 'images/synego.png' %}" />
          <div class="content">
            <h2 class="text-center">Rehau Synego</h2>
          </div>
        </a>
      </div>
      <div class="col-lg-6">
        <a class="card profile-card" href="/geneo/">
          <img src="{% static 'images/geneo.png' %}" />
          <div class="content">
            <h2 class="text-center">Rehau Geneo</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


{% endblock main %}
