{% extends "base.html" %} {% load static %} {% block main %}
<div class="products-page">
    <div class="container">
        
    </div>
</div>
<div class="contact-card">
  <div class="container">
      <div class="row">
          <div class="col-sm-7">
              <img class="img-responsive rounded" src="{% static 'images/contactUs.png' %}" />
          </div>
          <div class="col-sm-5">
            <div class="content">
            <p>
              Pentru mai multe informații sau nelămuriri legate de serviciile de
              tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
              noastră telefonic sau prin e-mail.
            </p>
            <a class="btn buton" href="/contact/">Contactează-ne</a>
          </div>
          </div>
      </div>
  </div>
</div>
{% endblock main %}
