{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="protectie-date">
    <div class="container">
        <h2 class="text-center">POLITICA DE PROTECȚIE A DATELOR CU CARACTER PERSONAL</h2>
        <h3>1. Informații generale</h3>
        <p>Informațiile cuprinse în acest material au legătură și sunt valabile în raport cu prelucrarea datelor
            cu caracter personal prin intermediul site-ului „marut.ro”, denumit în continuare marut.ro sau
            site-ul.<br><br>
            Toate datele cu caracter personal pe care le puneți la dispoziția noastră urmează să fie procesate
            în conformitate cu prezentul document, motiv pentru care vă recomandăm să studiați cu atenție
            prevederile acestuia. Pe lângă prevederile acestui document, la prelucrarea datelor cu caracter
            personal pe care le puneți la dispoziția noastră vor fi avute în vedere dispozițiile Regulamentului
            (UE) 679/2016 (GDPR), precum și cu orice altă legislație aplicabilă pe teritoriul României.<br><br>
            Vă informăm că avem posibilitatea să actualizăm și să modificăm periodic această Politică de
            protecție a datelor cu caracter personal („Politica”) fără a fi necesar să vă cerem un acord
            prealabil și fără a fi supuși unei proceduri de notificare individuală ori specială a modificărilor
            aduse. În cazul oricărei astfel de modificări, vom afișa pe site versiunea actualizată a Politicii de
            protecție a datelor cu caracter personal, rămânând în sarcina dumneavoastră să verificați
            conținutul acestei Politici ori de câte ori accesați site-ul, pentru a vă asigura că sunteți la curent
            cu ultima versiune.<br><br>
            În eventualitatea în care aveți întrebări sau nelămuriri, vă recomandăm sa ne contactați la adresa
            de e-mail suport.marut@gmail.com, tel. 0771.420.554 (număr cu tarif normal) sau prin
            postă/curier la adresa: Turda, str. Cucului, nr. 49, județ Cluj.</p>
        <h3>2. Despre proprietarul site-ului</h3>
        <p>Proprietatea site-ului și calitatea de Operator de Date cu caracter personal este deținută de<b> Marut
            Plast S.R.L.</b>, cu sediul social în Turda, str. Cucului, nr. 49, județ Cluj, înmatriculată la Oficiul
            Registrului Comerțului de pe lângă Tribunalul Cluj sub nr. J12/4153/2022, având CUI 46445031
            (denumită și continuare și Societatea).<br><br>
            În mod excepțional și în condițiile prevăzute prezentului document este posibil să transmitem
            datele personale pe care ni le furnizați către companii afiliate și/sau către alți parteneri și
            colaboratori cu care avem stabilite raporturi contractuale în vederea desfășurării activităților
            noastre și a îndeplinirii obligațiilor legale care ne revin. Transmiterea de date personale către terți
            are loc în baza unui angajament de confidențialitate din partea acestora și o asumare a asigurării
            protecției datelor.</p>
        <h3>3. Date personale prelucrate prin intermediul site-ului</h3>
        <p>
            Datele personale pe care le prelucrăm prin intermediul site-ului sunt: <b>nume, prenume, adresa
            de email, număr de telefon, IP.</b><br><br>
            Când vizitați site-ul, colectăm automat anumite informații despre dispozitivul dumneavoastră,
            cum ar fi informații despre browser, adresa IP, fus orar și unele cookie-uri instalate pe dispozitiv.<br><br>
            Folosim Google Analytics pentru a ne ajuta să înțelegem cum utilizează clienții noștri site-ul -
            puteți citi mai multe despre modul în care Google utilizează informațiile dvs. personale aici:
            <a href="https://www.google.com/intl/ro/policies/privacy/" target="_blank">https://www.google.com/intl/ro/policies/privacy/</a> . De asemenea, puteți renunța la Google
            Analytics aici: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a> .<br><br>
            Vă rugăm să consultați și secțiunea privind Politica de cookie-uri afișată pe pagina principală a
            site-ului nostru.<br><br>
            Nu colectăm și nu prelucrăm date sensibile, definite ca atare de GDPR. Nu ne asumăm niciun fel
            de răspundere pentru date legate de starea dumneavoastră de sănătate, de starea psihică, de
            orientarea religioasă sau sexuală sau alte date sensibile pe care alegeți să le dezvăluiți. Secțiunile
            din formularele de contact nu sunt destinate colectării unor astfel de date, urmând să le ștergem
            imediat în cazul în care descoperim că astfel de date au fost comunicate.<br><br>
            De asemenea, nu dorim să colectăm sau să prelucrăm date ale minorilor care nu au împlinit
            vârsta de 18 ani. Vă rugăm să nu ne furnizați nicio informație în cazul în care nu aveți împlinită
            vârsta de 18 ani.<br><br>
            Precizăm faptul că Operatorul colectează datele personale pe care le furnizați în mod voluntar
            pentru solicitarea unei oferte de servicii, raportat atât la momentul trimiterii cererii de ofertă, cât
            și ulterior, la momentul comunicării pe baza cererii de ofertă. Vă informăm că sunteți liber(ă) să
            decideți dacă ne furnizați aceste date personale.
    </p>
    <h3>4. Scopul prelucrării</h3>
    <p>Solicităm și prelucrăm date personale pentru:</p>
    <ul>
        <li>preluarea solicitării de ofertă, transmiterea către dumneavoastră a ofertei concrete cu privire la
            serviciile/produsle Societății, de care sunteți interesat, validarea, prelucrarea, informarea
            dumneavoastră asupra stării cererii de ofertă/ofertei, precum și asupra stadiului serviciilor, dacă
            va fi cazul;</li>
        <li>a face posibilă funcționarea site-ului;</li>
        <li>îmbunătățirea serviciilor și produselor pe care le oferim;</li>
        <li>transmiterea de newslettere, materiale informaționale legate de serviciile și produsele noastre;</li>
        <li>oferirea de răspunsuri la reclamațiile plasate;</li>
        <li>evaluarea serviciilor oferite pe site;</li>
        <li>monitorizarea vânzărilor și comportamentul Clienților, scopuri administrative, de media și
            altele asemenea;</li>
        <li>comunicarea de oferte de bunuri și/sau servicii</li>
        <li>diagnosticarea sau remedierea problemelor tehnice</li>
    </ul>
    <h3>5. Temeiurile prelucrării</h3>
    <p>Operatorul are dreptul de a prelucra date personale pentru scopurile prezentate mai sus:</p>
    <ul>
        <li>pentru că prelucrarea datelor este necesară pentru funcționarea site-ului, pentru accesul la
            informațiile legate de serviciile oferite, dar și oferirea de răspunsuri la reclamațiile plasate, dacă
            este cazul,</li>
        <li>pentru că v-ați dat consimțământul expres în acest sens prin bifarea căsuțelor aferente</li>   
    </ul>
    <p>În cazul în care prelucrarea datelor nu este necesară pentru încheierea și executarea raporturilor
        noastre juridice, nu vom prelucra date personale pentru niciunul dintre scopurile de mai sus dacă
        nu avem consimțământul dumneavoastră în acest sens.</p>
    <h3>6. Durata de stocare și prelucrare a datelor personale</h3>
    <p>Prelucrăm și stocăm datele personale pe durata necesară îndeplinirii scopurilor pentru care datele
        au fost colectate și în orice caz pe perioada impusă de reglementările legale aplicabile.<br><br>
        Ne propunem să revizuim și să actualizăm periodic baza noastră de date astfel încât să nu stocăm
        date care nu mai sunt necesare scopurilor pentru care au fost colectate.</p>
    <h3>7. Măsuri de securitate a datelor</h3>
    <p>Societatea asigură măsurile tehnice și juridice adecvate pentru a asigura o protecție efectivă a
        datelor cu caracter personal aparținând persoanelor care ne furnizează astfel de date.<br><br>
        Ne angajăm să vă păstrăm datele personale în siguranță și luăm măsurile rezonabile în acest sens,
        inclusiv împotriva accesului neautorizat, al utilizării neautorizate a datelor, distrugerii, pierderii
        sau alterării acestora.<br><br>
        Ne instruim sistematic angajații legat de importanța protejării datelor cu caracter personal, am
        instituit proceduri interne în acest sens și, în plus, depunem toate eforturile pentru a ne asigura că
        și partenerii noștri gestionează măsuri adecvate pentru prelucrarea datelor personale care pot
        ajunge la ei în cadrul raporturilor noastre contractuale.</p>
    <h3>8. Transmiterea datelor către alte persoane</h3>
    <p>Nu vindem și nu închiriem către terțe persoane datele cu caracter personal oferite de
        dumneavoastră. Transferarea către terțe persoane a datelor se va realiza doar în mod excepțional.
        Astfel, este posibil să transmitem datele personale pe care ni le furnizați către companii afiliate
        și/sau către alți parteneri și colaboratori cu care avem stabilite raporturi contractuale în vederea
        desfășurării activităților noastre și a îndeplinirii obligațiilor legale care ne revin, cum ar fi:
        furnizorii de servicii informatice, de servicii de contabilitate, de servicii juridice, de servicii de
        marketing, de servicii de curierat, de servicii de internet și telefonie mobilă, specialiști în domeniul de activitate în care activăm, pe care îi contractăm pe a vă oferi o calitate cât mai bună
        a serviciilor noastre și alți asemenea furnizori.<br><br>
        Transmiterea datelor către terțe persoane are loc sub rezerva asumării de către acestea a clauzelor
        de confidențialitate pe care le stabilim.<br><br>
        De asemenea, putem transmite unele din datele personale colectate către autoritățile sau
        instituțiile publice competente, atunci când legea impune acest lucru sau către instanțele de
        judecată atunci când ne apărăm în justiție sau când ni se cere de către instanță acest lucru.<br><br>
        Vă rugăm să consultați și secțiunea privind Politica de cookie-uri afișată pe pagina principală a
        site-ului nostru.
    </p>
    <h3>Transferul datelor cu caracter personal în afara țării</h3>
    <p>În contextul operațiunilor descrise mai sus, datele dumneavoastră cu caracter personal pot fi
        transferate în afara țării către state din Uniunea Europeana (“UE”) sau din Spațiul Economic
        European (“SEE”).<br><br>
        Astfel, vă informăm că orice transfer efectuat de către Operator către un stat membru UE sau
        SEE va respecta prevederile legale din Regulamentul General privind protecția datelor nr.
        2016/679 adoptat de Parlamentul European (“GDPR”).<br><br>
        Transferul datelor către un stat care nu este membru UE sau SEE va putea fi operat doar cu în
        condițiile legislației speciale aplicabile.<br><br>
        Datele cu caracter personal menționate în această notă de informare nu sunt transferate către state
        care nu asigură protecție adecvată în ceea ce privește prelucrarea datelor cu caracter personal.
    </p>
    <h3>9. Ce drepturi aveți în legătură cu datele personale pe care ni le furnizați</h3>
    <p>Ne angajăm să asigurăm securitatea datelor cu caracter personal prin adopta de măsuri tehnice și
        organizatorice adecvate, conform standardelor industriei. Site-ul este aliniat la cerințele GDPR și
        folosește tehnologie de criptare și securizare a datelor la nivelul celor folosite de instituțiile
        bancare. <br><br> Vă asigurăm și vă respectăm drepturile stabilite prin legislația în vigoare.
        <br><br>
        <b>Dreptul la informare</b> – puteți solicita informații și detalii privind activitățile de prelucrare a
        datelor personale. Vă stăm la dispoziție pe email la adresa suport.marut@gmail.com sau la
        numărul de telefon 0771.420.554 (număr cu tarif normal).
        Suntem atenți la asigurarea dreptului dumneavoastră de a primi informații clare, transparente,
        ușor de înțeles și accesibile cu privire la modul în care vă prelucrăm datele, inclusiv detalii legate
        de drepturile pe care le dețineți în acest sens și care sunt prezentate și în acest document.
        <br><br>
        <b>Dreptul la rectificare</b> – în cazul în care constatați că datele dumneavoastră personale pe care le
        prelucrăm sunt incorecte, incomplete, inexacte, le puteți rectifica sau le puteți completa printr-o
        simplă solicitare de rectificare trimisă la adresa de email suport.marut@gmail.com.
        <br><br>
        <b>Dreptul la ștergerea datelor ("dreptul de a fi uitat")</b> – puteți obține ștergerea datelor, în
        cazul în care prelucrarea acestora nu a fost legală sau în alte cazuri prevăzute de lege, Ștergerea
        datelor poate avea loc în oricare dintre situațiile următoare:</p>
        <ol>
            <li>nu mai avem nevoie de datele personale pentru îndeplinirea vreunuia dintre scopurilor pentru
                care le-am prelucrat anterior;</li>
            <li>vă retrageți consimțământul pe baza căruia v-am prelucrat anterior și nu există un alt temei
                juridic pe care ne putem baza o prelucrare viitoare;</li>
            <li>vă opuneți prelucrării datelor atunci când prelucrăm datele în scop de marketing direct
                (inclusiv, profilarea în scop de marketing direct),</li>
            <li>vă opuneți prelucrării datelor bazat pe interesul nostru legitim și nu putem să demonstrăm că
                avem motive legitime care justifică prelucrarea și care prevalează asupra intereselor, drepturilor
                și libertăților dumneavoastră;</li>
            <li>datele personale sunt prelucrate contrar legii;</li>
            <li>datele personale trebuie șterse pentru a ne conforma obligațiilor noastre legale.</li>
        </ol>
        <p>Vă vom putea respinge solicitarea de ștergere a datelor dacă:</p>
        <ol>
            <li>trebuie să ne conformăm unor obligații legale de a păstra datele;</li>
            <li>dacă datele ne sunt necesare pentru constatarea, exercitarea sau apărarea drepturilor noastre
                în justiție.</li>
        </ol>
        <p><b>Dreptul la restricționarea prelucrării</b> - puteți solicita restricționarea prelucrării în cazurile în care:</p>
        <ol>
            <li>contestați exactitatea datelor pe o perioadă care ne permite verificarea corectitudinii datelor;</li>
            <li>prelucrarea este ilegală, dar vă opuneți ștergerii datelor cu caracter personal, solicitând în
                schimb restricționarea;</li>
            <li>în cazul în care Operatorul nu mai are nevoie de datele cu caracter personal în scopul
                prelucrării, dar dumneavoastră ni le solicitați pentru constatarea, exercitarea sau apărarea unui
                drept în instanță sau în fața organelor de arbitraj;</li>
            <li>în cazul în care v-ați opus prelucrării, pentru intervalul de timp în care se verifică dacă
                drepturile noastre legitime prevalează asupra drepturilor dumneavoastră.</li>
        </ol>
        <p><b>Dreptul de opoziție</b> – vă puteți opune în special, prelucrărilor de date care se întemeiază pe
            interesul nostru legitim.<br><br>
            <b>Dreptul la portabilitatea datelor</b> - puteți primi, în anumite condiții, datele personale pe care ni
            le-ați furnizat, într-un format care poate fi citit automat sau puteți solicita ca respectivele date să
            fie transmise altui operator.<br><br>
            <b>Dreptul de a depune plângere</b> - puteți depune plângere fată de modalitatea de prelucrare a
                datelor personale la Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter
                Personal (ANSPDCP).<br>Date de contact și informații legate de ANSPDCP găsiți pe site-ul <a href="http://www.dataprotection.ro/" target="_blank">www.dataprotection.ro</a> .<br><br>
                <b>Dreptul de retragere a consimțământului</b> – în cazurile în care prelucrarea se întemeiază pe
                consimțământul dvs., vi-l puteți retrage oricând.<br>
                Retragerea consimțământului va avea efecte doar pentru viitor, prelucrarea efectuată anterior
                retragerii rămânând  in continuare valabilă.<br><br>
                <b>Dreptul de a nu fi supus unor decizii automate sau profilare suplimentare aferente
                deciziilor automate</b>: puteți cere și obține intervenția umană cu privire la respectiva prelucrare
                sau vă puteți exprima propriul punct de vedere cu privire la acest tip de prelucrare.<br><br>
                Vă puteți exercita aceste drepturi, fie individual, fie cumulat, foarte ușor, prin simpla transmitere
                a unei solicitări la adresa: Turda, str. Cucului, nr. 49, județ Cluj, email suport.marut@gmail.com
                telefon 0771.420.554 (nr. cu tarif normal).
        </p>
        <h3>10. Diverse</h3>
        <p>Societatea are dreptul de a modifica Politica de protecție a datelor oricând, fără o notificare
            prealabilă, postând varianta actualizată pe site. Aveți obligația de a citi Termenii și condițiile,
            Politica de protecție a datelor și Politica de cookie-uri ori de câte ori accesați site-ul.</p>
</div>
</div>
{% endblock main %}
