{% extends "base.html" %} {% load static %} {% block main %}
<div class="aluplast70">
  <div class="container">
    <h2 class="title2 text-center">REHAU SYNEGO</h2>
    <div class="row">
      <div class="col-md-7">
        <h3 class="title2">De ce sa alegi fereastra REHAU SYNEGO?</h3>
        <p>
          <b>Performanțe de top în doar 80 de mm.</b> O fereastră bine făcută
          este o fereastră care aduce confortul în spațiul tău. Am regândit
          geometria ferestrelor clasice din PVC și am reușit să obținem
          performanțe inegalabile încă, în doar 80 de milimetri grosime. REHAU
          SYNEGO este vârful tehnologic în materie de ferestre din PVC îmbinând
          cu succes aspectul premium, complet personalizabil, cu rezultatele
          surprinzătoare. Bucură-te de confort termic și acustic în fiecare
          clipă. Investește inteligent în soluții care rezistă. Ai cel mai bun
          preț pentru ferestrele care vor schimba modul în care te simți atunci
          când îți petreci timpul în interiorul locuinței.
        <br>
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="center-block"
          src="{% static 'images/synego4.png' %}"
        />
      </div>
      <div class="col-lg-12">
        <p><b>Izolare termică cu până la 50% mai ridicată.</b> REHAU SYNEGO oferă
          o izolare termică cu până la 50% mai eficientă comparabil cu
          ferestrele standard. Economisește an de an și uită de grija costurilor
          lunare. Ferestrele REHAU SYNEGO vor reduce pierderile de căldură către
          exterior iarna și vor proteja interiorul de căldură vara. Te simți
          confortabil indiferent de anotimp și te bucuri de mai multă lumină
          naturală pe tot parcursul anului.</p>
      </div>
    </div>
    <hr />
    <div class="row" style="background-color: #f5f7f7; padding-top: 20px">
      <div class="col-md-7">
        <p>
          <b>Profile de sinteză, SYNEGO.</b>
          Performanțe mai bune cu aceleași materiale: un al treilea nivel de
          etanșare, 7 camere în cadru, 6 camere în cercevea, garnitură mediană,
          impermeabilitatea la aer, izolare fonică, izolare termică, economie de
          energie și siguranță antiefracție. Acestea sunt principalele
          caracteristici care fac din REHAU SYNEGO ferestre cu adevărat
          surprinzătoare.
        <br>
          <b>Protecție contra spargerilor de până la 10 ori mai bună.</b>
          REHAU SYNEGO asigură o protecție contra spargerilor de până la 10 ori
          mai bună comparabil cu ferestrele standard. În funcție de specificul
          fiecărui proiect poți opta pentru diverse soluții pentru creșterea
          siguranței ferestrelor alese. Evaluează mereu situațiile de risc și
          alege cea mai bună soluție pentru siguranța spațiului tău.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="center-block"
          src="{% static 'images/synego3.png' %}" style="margin-bottom: 1rem"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h3 class="title2">Caracteristici tehnice și performanțe</h3>
        <ul>
          <li>
            <p>Material profil: PVC</p>
          </li>
          <li>
            <p>Izolare termică excelentă: Uf = 0,94W/m²K</p>
          </li>
          <li>
            <p>Izolare fonică optimă: Rw,p = 47 dB</p>
          </li>
          <li>
            <p>Protecție antiefracție: până la clasa RC 3</p>
          </li>
          <li>
            <p>Grosime profil: 80 mm</p>
          </li>
          <li>
            <p>înălțime vizibilă profill: 117 mm</p>
          </li>
          <li>
            <p>
              Număr de camere constructive: 7 camere – toc, 6 camere – cercevea
            </p>
          </li>
          <li>
            <p>
              Posibilitate de placare cu aluminiu la exterior
            </p>
          </li>
          <li>
            <p>Garnituri: 3 rânduri</p>
          </li>
          <li>
            <p>
              Feronerie: Roto cu balamale vizibile pe tocul ferestrei sau
              ascunse în falț , numită Roto Designo
            </p>
          </li>
          <li>
            <p>
              Pachete de sticlă: 3 foi de sticlă: 42 și 50 mm
            </p>
          </li>
          <li>
            <p>
              Culori în gamă extinsă – cașerare sau vopsire
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock main %}
</div>
<div class="contact-card">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center">
              <img class="img-responsive rounded" src="{% static 'images/contactUs2.png' %}" />
          </div>
          <div class="col-md-6">
            <div class="content">
            <p>
              Pentru mai multe informații sau nelămuriri legate de serviciile de
              tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
              noastră telefonic sau prin e-mail.
            </p>
            <a class="btn buton" href="/contact/">Contactează-ne</a>
          </div>
          </div>
      </div>
  </div>
</div>
