{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="termeni-si-conditii">
    <div class="container">
        <h2 class="text-center">TERMENI ȘI CONDIȚII</h2>
        <h2 class="text-center">marut.ro</h2>
        <h3>1. Despre marut.ro</h3>
        <p>Bine ați venit pe site-ul marut.ro!
            Site-ul marut.ro este deținut și administrat de către  <b>Marut Plast S.R.L.</b>, cu sediul social în Turda,
            str. Cucului, nr. 49, județ Cluj, înmatriculată la Oficiul Registrului Comerțului de pe lângă
            Tribunalul Cluj sub nr. J12/4153/2022, având CUI 46445031, telefon 0771.420.554 (* linie cu tarif
            normal), email: suport.marut@gmail.com.<br><br>
            Pentru facilitarea transmiterii informațiilor, vom avea în vederea utilizarea termenului de
            „Societate” pentru a ne referi la <b>Marut Plast S.R.L.</b>, respectiv termenii „marut.ro” sau „site” pentru
            a ne referi la site-ul <b>marut.ro.</b><br><br>
            Pentru a vă informa cu privire la condițiile de utilizare a acestuia vă rugăm să citiți prezentul
            document. Utilizarea acestui site de către dumneavoastră este condiționată de respectarea termenilor
            și condițiilor generale detaliate mai jos. Dacă alegeți să vizitați site-ul și să ne contactați pentru
            solicitări de oferte, vă asumați cunoașterea și acceptarea în totalitate a acestor termeni și condiții.
            De asemenea, vă rugăm să studiați și Politica de protecție a datelor prezentată pe site mai înainte de
            a ne comunica orice date de contact.<br><br>
            Marut.ro este un site de prezentare a produselor și serviciilor de tâmplărie PVC și aluminiu, pe care
            Societatea le pune la dispoziția dumneavoastră. Prin utilizarea site-ului, aveți posibilitatea să vă
            informați cu privire la produsele și serviciile oferite, precum și să ne contactați în vederea solicitării
            de oferte și de consultanță legate de serviciile/produsele dorite.</p>
        <h3>2. Utilizarea site-ului</h3>
        <p>
            Site-ul poate fi utilizat doar pentru vizionarea și contactarea Societății în vederea solicitării de oferte
            sau în vederea inițierii unor relații de parteneriat cu Societatea.<br><br>
            Societatea nu poate garanta utilizarea discontinuă și neîntreruptă a site-ului. Este posibil să intervină
            erori, defecte, viruși sau alte comportamente dăunătoare pe site sau pe servere care să îl facă
            indisponibil. Vom lua toate măsurile pentru a limita și pentru a înlătura asemenea evenimente
            neplăcute în cel mai scurt timp posibil. Nu aveți dreptul să interveniți în operarea site-ului nostru și
            nici să luați vreo măsură de intervenție asupra echipamentului nostru informatic, indiferent de motiv
            și indiferent de rezultatul obținut.<br><br>
            Ne rezervăm dreptul de a înceta sau restricționa accesul oricărei persoane la site în orice moment,
            fără o notificare prealabilă și fără răspundere, în cazul în care constatăm nerespectarea acestor
            Termeni și condiții sau ineficiența raporturilor dintre părți prin intermediul site-ului.
            Ne rezervăm dreptul de a desființa site-ul fără o notificare prealabilă a utilizatorilor.
        </p>
        <h3>3. Limitarea răspunderii</h3>
        <p>Societatea nu este responsabilă pentru daune aduse calculatorului dumneavoastră sau pentru viruși
            care ar putea să vă infecteze calculatorul sau alt echipament ca urmare a accesării, utilizării sau
            navigării pe site sau descărcarea de către dumneavoastră a vreunui conținut, informație, materiale,
            date, text, imagini, video sau audio de pe site.<br><br>
            Această exonerare de răspundere se aplică oricăror daune sau prejudicii cauzate de orice lipsă a
            performanței, eroare, omisiune, întrerupere, eliminare, defect, întârziere în operare sau transmisie,
            virus de calculator, defecțiune a liniei de comunicare, furt sau distrugere sau acces neautorizat la,
            modificarea, sau utilizarea înregistrării, fie pentru încălcarea contractului, comportament dăunător,
            neglijență, sau în baza oricărei cauze de acțiune.<br><br>
            Societatea are dreptul de a modifica Termenii și condițiile oricând, fără o notificare prealabilă în
            acest sens.
        </p>
        <h3>4. Reclamații</h3>
        <p>Orice nemulțumire legată de accesarea, utilizarea, timpul în care ați primit răspuns la solicitări de
            natură administrativă ne va fi comunicată direct prin email la adresa suport.marut@gmail.com.<br><br>
            Nemulțumirea dumneavoastră va fi înregistrată și veți primi un răspuns în scris, pe adresa de email
            menționată cu ocazia aducerii la cunoștința noastră a nemulțumirii.<br><br>
            Aveți obligația de a nu face publice aceste nemulțumiri (pe rețelele de socializare, media, discuții la
            petreceri private sau în orice altă modalitate) sub rezerva suportării daunelor cauzate pentru
            prejudiciul de imagine adus Societății prin aceste acțiuni.<br><br>
            Orice astfel de nemulțumire se poate adresa în termen de maxim o lună de la data producerii sale.</p>
        <h3>5. Proprietate intelectuală și industrială</h3>
        <p>Conținutul prezentului site, inclusiv, dar fără a se limita la logo, reprezentări stilizate, simboluri,
            imagini, fotografii, conținut texte, informații, structura, materialele cuprinse pe site, know how,
            conținut, structură, administrare program și altele asemenea, sunt proprietatea exclusivă a Societății.
            Este nepermisă copierea, distribuirea, publicarea, modificarea, completarea, utilizarea, expunerea,
            includerea, legarea, transmiterea, îndepărtarea însemnelor, fotografiilor, imaginilor, bucăților de
            text, afișarea, vinderea, etc, a conținutului, datelor, informațiilor, fotografiilor sau altor informații
            găsite pe site, fără permisiunea expresă acordată în scris de către Societate.<br><br>
            Utilizatorul nu dobândește, prin utilizarea și accesarea site-ului vreun drept sau vreo licență de
            utilizare a vreuneia dintre informațiile de pe site. Utilizatorul nu are dreptul de a utiliza un
            dispozitiv automat sau manual pentru a monitoriza materialele disponibile pe site.<br><br>
            De asemenea, Societatea deține dreptul de proprietate (inclusiv, fără limitare la drepturi de autor și
            alte drepturi de proprietate intelectuală) asupra conceptului, denumirii, conținutului proiectelor,
            textelor, asupra fotografiilor, înregistrărilor, filmărilor și toate drepturile de a folosi și dezvălui
            ideile, conceptele, know-how-ul, metodele, tehnicile, procesele și adaptările acestora pe parcursul
            desfășurării activității sale.</p>
        <h3>6. Publicitatea</h3>
        <p>Prin accesarea site-lui, aveți posibilitatea de a vă manifesta acordul cu privire la primirea de
            Newslettere.<br><br>
            Newsletterul reprezintă un mijloc de informare periodic, exclusiv electronic (e-mail, SMS) asupra
            Bunurilor, Serviciilor, Promoțiilor, etc. Societății într-o anumită perioadă, fără niciun angajament
            din partea Societății cu referire la informațiile conținute de acesta.<br><br>
            Vă puteți retrage acest acord oricând, fără nicio obligație, prin simpla contactare a reprezentantului
            nostru la adresa suport.marut@gmail.com sau prin accesarea butonului Dezactivare din partea de
            jos a fiecărui Newsletter primit.<br><br>
            Site-ul poate conține link-uri sau alte tipuri de conținut (reclame în nume propriu sau reclame
            plătite în numele unor terțe persoane) legate de site-uri, produse sau servicii oferite de terțe
            persoane. Societatea nu își asumă nicio responsabilitate în ceea ce privește conținutul acestor link-uri.</p>
        <h3>7. Legea aplicabilă</h3>
        <p>Relația dintre Utilizator și Societate va fi guvernată și interpretat în conformitate cu legea română.
            Orice neînțelegere intervenită între Societate și Utilizator în legătură cu raporturile decurgând din
            stabilirea raporturilor pe site, urmează să fie rezolvate pe cale amiabilă, iar în caz de eșec, să fie
            supuse instanțelor competente material din Cluj.</p>
        <h3>8. Prelucrarea datelor cu caracter personal</h3>
        <p>Pentru detalii referitoare la prelucrarea datelor cu caracter personal, identitatea operatorului și alte
            asemenea, consultați secțiunea „Politica de protecție a datelor” de pe site-ul nostru.</p>
        <h3>9. Dispoziții finale</h3>
        <p>Acest site este deținut de către Societatea <b>Marut Plast S.R.L.</b>,, care vă oferă dreptul de a accesa și
            utiliza site-ul sub rezerva acceptării de către dumneavoastră a acestor Termeni și condiții. Accesând
            și utilizând site-ul vă oferiți automat și neechivoc acordul pentru respectarea Termenilor și
            condițiilor de pe site.<br><br>
            Societatea are dreptul de a modifica Termenii și condițiile oricând, fără o notificare în acest sens,
            postând varianta actualizată pe site, iar dumneavoastră aveți obligația de a citi Termenii și condițiile
            actualizate. Aveți obligația de a respecta întocmai Termenii și condițiile de pe site și nu puteți
            pretinde și nu vă puteți apăra cu necunoașterea Termenilor și condițiilor de pe site, valabili la data
            accesării și/sau utilizării acestuia.<br><br>
            Societatea își rezervă dreptul de a modifica structura si interfața oricărei pagini sau subpagini a site-
            ului in orice moment si la orice interval de timp liber ales, având dreptul de a întrerupe temporar,
            parțial sau în totalitate serviciile de pe site fără vreo notificare prealabilă.</p>
    </div>
</div>
{% endblock main %}