{% extends "base.html" %}
{% load static %}
{% block title %}<title>Marut</title>{% endblock title %}

    {% block main %}
    <main>
      <!-- about -->
    <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="titlepage">
                <span>Despre noi</span>
                <h2>Află Povestea Noastră</h2>
                <p>
                  Suntem cei care îți oferă siguranța că geamurile tale vor rezista, că o poți să dormi până la prânz dacă ai nevoie să te odihnești.
                </p>
                <p>
                 Suntem o familie care înțelege că primul pas pentru a construi un cămin stă calitatea. 
                </p><br>
                <p>
Suntem cei care nu ne lăsăm înfrânți de un toc vechi sau un pervaz de lemn încăpățânat care nu vrea să fie dat deoparte. 
                </p><br>
                 <p>
Suntem cei care nu fac rabat de la calitate, chiar dacă bugetul tău nu e pe măsură. 
                </p>
                <p>
Suntem cei care te ghidăm pas cu pas să alegi materialele (și culorile) care se pliază perfect pe viziunea pe care o ai tu despre casa ta. 
                </p><br>
                <p>
Suntem cei care garantăm că vântul nu șuieră, pervazul nu cade și insectele nu vin neinvitate în casă. 
                </p>
                <p>
Suntem cei care reparăm dacă se strică ceva din munca noastră. 
                </p><br>
                <p style="font-weight: bold;">
Suntem MARUT. 
              </p>
              <p>
Și susținem calitatea înainte de toate. 
              </p>

                  </p>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="titlepage">
                <hr>
                <h2 style="padding-bottom: 40px;">Contactează-ne</h2>
                <div class="row">
                  <div class="col-3">
                    <h3 class="subtitlu">Program de lucru</h3>
                    <div>
                        <ul class="orar">
                            <li>Luni:&nbsp;&nbsp; 09:00 - 17:00</li>
                            <li>Marți:&nbsp;&nbsp; 09:00 - 17:00</li>
                            <li>Miercuri:&nbsp;&nbsp; 09:00 - 17:00</li>
                            <li>Joi:&nbsp;&nbsp; 09:00 - 17:00</li>
                            <li>Vineri:&nbsp;&nbsp; 09:00 - 17:00</li>
                            <li>Sâmbătă:&nbsp;&nbsp;&nbsp; INCHIS</li>
                            <li>Duminică:&nbsp;&nbsp;&nbsp; INCHIS</li>
                        </ul>
                    </div>
                </div>
                    <div class="col-3">
                      <h3 class="subtitlu">Email</h3>
                      suport.marut@gmail.com
                    </div>
                    <div class="col-3">
                        <h3 class="subtitlu">Telefon</h3>
                        <ul>
                            <a class="read_more" href="tel:+40-752-017-965" data-tracking-element-type="3" 
                            jslog="56037; track:impression,click" itemprop="telephone" dir="ltr">Sună &nbsp;acum</a>
                        </ul>
                        0752.017.965                      
                    </div>
                    <div class="col-3">
                        <h3 class="subtitlu">Adresa</h3>
                        <a class="read_more" href="https://goo.gl/maps/WHejeYgqQGA35mir5" 
                        target="_blank" data-tracking-element-type="6" jslog="56039; track:impression,click">Indicații orientative</a>
                        <address>
                            <div>str Plopilor 4,</div>
                            <div>Câmpia Turzii,</div>
                            <div>România</div>
                        </address>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2744.582128453579!2d23.884017933333766!3d46.53617020254533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474966d33d3ead7f%3A0x85586c1b176cea61!2sStrada%20Plopilor%204%2C%20C%C3%A2mpia%20Turzii%20405100!5e0!3m2!1sen!2sro!4v1653895616508!5m2!1sen!2sro" width="400" height="250" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </div>
    </div>
    <div style="padding-bottom:200px;"></div>
    </main>
    {% endblock main %}