{% extends "base.html" %} {% load static %} {% block title %}<title>
    Marut - rulouri</title
  >{% endblock title %} {% block main %}
  <main>
    <div class="aluplast70">
      <div class="container">
        <h2>RULOURI EXTERIOARE DIN ALUMINIU PENTRU FERESTRE</h2>
       
        
        <div class="row">
          <div class="col-md-7" style="padding-top: 50px;padding-bottom:50px;">
            <h3>Rulouri exterioare ferestre</h3>
            <p>
              <span>Un plus de siguranță și confort pentru fiecare încăpere.</span>
              Fie că renovezi o construcție veche sau construiești una nouă, sistemul de rulouri exterioare îndeplinește cerințele pentru protecție solară și antiefracție, principalele caracteristici care trebuie prevăzute de un rulou cu adevărat eficient.
              În plus, asigură protecție împotriva privirilor indiscrete, protecție anti insecte, dar și un plus de confort la interior pentru atunci când cauți clipe de odihnă.
              Din punct de vedere cromatic rulourile pot fi vopsite în culoarea tâmplăriei sau foliate identic cu texturile ferestrelor. Ruloul este prevăzut în partea superioară cu o casetă care va completa aspectul estetic al tâmplăriei. Opțional se poate monta și o plasă împotriva insectelor.
              Acționarea ruloului va fi la alegere: cu panglică, manivelă sau electrică, din telecomandă.
              
            </p>
            <p>Iată tipurile de rulouri exterioare Barrier:</p>
          </div>
          <div class="col-md-5">
            <img
              src="{% static 'images/rulouz.png' %}"
              style="
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              "
            />
          </div>
        </div>
        <hr />
        <div class="row" style="background-color: #f5f7f7; padding-top:
        20px;padding-bottom: 20px; padding-left: 10px;">
        <div class="col-md-5">
          <img
            src="{% static 'images/rulouincastrat.png' %}"
            style="
              position: absolute;
              margin: auto;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            "
          />
        </div>
        <div class="col-md-7">
            <h3>Rulouri încastrate</h3>
          <p>
            <span>Sistemele încastrate de rulouri exterioare Barrier sunt concepute pentru montare la construcțiile noi, sistemul fiind speci
            al conceput pentru a fi încastrat în perete.</span> Poți alege tencuirea lui, caseta de rulare fiind practic invizibilă.
            Rulourile încastrate pot fi adaptate la orice tip de design al clădirii, având
             o diversitate cromatică vastă. Pe scurt, acord cromatic perfect cu tabloul de tâmplărie ales.
            Fiecare rulou este prevăzut cu elemente de aluminiu de înaltă calitate, foarte rezistente la uzură și intemperii. Aceste sisteme de rulouri contribuie la izolarea fonică și termică a clădirii, ceea ce permite atât o reducere consistentă a cheltuielilor cu încălzirea în sezonul rece, dar și răcoare la interior în sezonul cald.
            Utilizarea sistemului individual de plase oferă un plus de protecție împotriva insectelor, fără a obstrucționa pătrunderea luminii naturale și a aerului.
          </p>
        </div>
      </div>
      <hr>
      <div class="row" style="background-color: #f5f7f7; padding-top:
        20px;padding-bottom: 20px; padding-right: 10px;">
        <div class="col-md-7">
            <h3>Rulouri suprapuse</h3>
          <p>
            <span>Similar cu rulourile încastrate, sistemele suprapuse sunt concepute pentru montare la construcțiile noi.</span>
            Datorită gamei cromatice largi, acestea sunt un element decorativ ideal care poate fi adaptat la tipul unic de design specific clădirii. În plus, poți alege culori acordate cromatic la tabloul de tâmplărie.
            Elementele de aluminiu sunt foarte rezistente la acțiuni mecanice, uzură și intemperii. O bună configurare a rulourilor, precum și alegerea materialelor potrivite, te protejează de privirile nedorite ale curioșilor. Rulourile aplicate fac parte componentă din corpul de tâmplărie, contribuind la izolarea fonică și termică a clădirii și a spațiilor de la interior.
            Poți opta pentru accesorizarea rulourilor cu un sistem individual de plase pentru a oferi un plus de protecție împotriva insectelor, fără a obstrucționa pătrunderea luminii naturale și a aerului.
            Și, te bucuri de acționarea rulourilor la alegere: cu panglică, manivelă sau electrică, din telecomandă.
          </p>
        </div>
        <div class="col-md-5">
            <img
              src="{% static 'images/rulousuprapus.png' %}"
              style="
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              "
            />
          </div>
      </div>
      <hr>
      <div class="row" style="background-color: #f5f7f7; padding-top:
      20px;padding-bottom: 20px; padding-left: 10px;">
      <div class="col-md-5">
        <img
          src="{% static 'images/rulouaplicat.png' %}"
          style="
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          "
        />
      </div>
      <div class="col-md-7">
          <h3>Rulouri aplicate</h3>
        <p>
          <span>existente, pentru modernizarea spațiului, sau atunci când vrei să renovezi clădirea.</span> Te bucuri de o gamă cromatică diversă: rulourile aplicate au avantajul de a deveni elementul decorativ ideal care poate fi adaptat la orice proiect deja existent.
          Elementele de aluminiu de înaltă calitate sunt mai rezistente la abraziune și intemperii. O bună configurare a rulourilor, precum și alegerea materialelor potrivite, te protejează atât de schimbările climatice dar și de ochii curioșilor.
          Sistemele de rulouri aplicate contribuie la izolarea fonică și termică a clădirii. Ai un plus de confort indiferent de anotimp și indiferent de ceea ce se întâmplă la exterior.
          Și acest tip de rulouri permite accesorizarea cu plase speciale pentru un plus de protecție împotriva insectelor.
          Rulourile aplicate pot fi acționate cu panglică, manivelă sau cu comandă electrică din telecomandă.
          
        </p>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <p>
                <a
                  class="btn btn-primary readmoreb"
                  href="/products/"
                  role="button"
                  >inapoi la produse</a
                >
              </p>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </main>
  {% endblock main %}
  