{% extends "base.html" %} {% block title %}
<title>Marut - serviciile noastre</title>
{% endblock title %} {% block main %}
<div class="container" style="padding-bottom: 100px">
  <div class="cookies">
    <h2>Serviciile noastre</h2>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <p>
          Suntem cu tine de la început, până la final. Ne considerăm o companie
          A-Z, adică oferim tot, de la cap la coadă, când vine vorba de
          tâmplăria PVC. Suntem gata să te ajutăm să îți alegi cele mai
          potrivite ferestre și uși din PVC pentru locuința ta.
        </p>
        <p>Iată etapele de lucru:</p>
        <ul>
          <li>
            <p>
              PROSPECTARE: analizăm și discutăm telefonic, prin e-mail sau față
              în față toate detaliile proiectului (măsuratori la fața locului)
            </p>
          </li>
          <li>
            <p>
              CONTRACTARE: odată stabilite detaliile, pregătim oferta tehnică și
              contractul de colaborare
            </p>
          </li>
          <li>
            <p>OFERTARE: plasăm comanda de produse</p>
          </li>
          <li>
            <p>
              LIVRARE: ne asigurăm că produsele ajung în siguranță la adresa
              indicată
            </p>
          </li>
          <li>
            <p>
              MONTAJ: echipa noastră este cea care va efectua montajul
              produselor
            </p>
          </li>
          <li>
            <p>
              SERVICII POST-VÂNZARE: chiar daca produsele au ajuns să fie
              montate, colaborarea cu clienții noștri nu se termină acolo, dorim
              să aflăm feedback-ul clientului despre experiența sa cu Marut,
              dorim să continuăm să ajutăm clientul răspunzând întrebărilor
              acestuia
            </p>
          </li>
        </ul>
        <p>
          Înafară de aceste servicii, ne ocupăm și de reparații, instalarea de
          plase de insecte, pervaze etc. Trimite-ne un mesaj cu informațiile
          proiectului, iar noi vom reveni în cel mai scurt timp pentru a discuta
          detaliile serviciilor de consultanță proiectare și tâmplărie PVC.
        </p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row" style="padding-top: 50px">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <p>
          <a class="btn btn-primary readmoreb" href="/#contact" role="button"
            >Contactează-ne</a
          >
        </p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
{% endblock main %}
