{% extends "base.html" %} {% block title %}
<title>Marut - termeni şi condiţii</title>
{% endblock title %} {% block main %}
<div class="container" style="padding-top: 150px">
  <div class="terms">
    <h2>Termeni şi condiţii</h2>
    <p>
      Termenii şi condiţiile de utilizare a site-ului şi a serviciilor oferite
      de Marut
    </p>

    <h3>1. Precizări-cadru</h3>
    <p>
      Vă rugăm să citiţi cu atenţie „Termenii şi condiţiile de utilizare“,
      deoarece vizitând şi/sau utilizând site-ul Marut, vă exprimaţi implicit
      acordul pentru termenii şi condiţiile descrise. Vă recomandăm sa
      parcurgeţi periodic „Termenii şi Condiţiile de utilizare”, Marut
      rezervându-și dreptul de a le modifica fără un anunț prealabil. Vă vom
      notifica despre orice schimbare intervenită în „Termenii şi conditiile de
      utilizare” prin postarea unui anunţ pe site-ul web. Modificările astfel
      făcute sunt socotite a fi acceptate de către utilizator, dacă acesta
      continuă să folosească serviciul după afişarea lor pe site-ul web, în
      secțiunea „Termeni şi condiţii“. Utilizarea de către dumneavoastră a
      produselor, aplicaţiilor, serviciilor, aplicaţiilor software şi
      site-urilor web Marut (denumite în acest document în mod colectiv
      „Serviciile“ şi excluzând orice servicii care vă sunt furnizate printr-un
      contract scris separat) este guvernată de termenii prezentului document.
      „Marut“ este o companie înregistrată la Registrul Comerţului din România,
      conform legislaţiei în vigoare. Acest site şi serviciile oferite (cu
      excepția site-urilor partenerilor spre care există legături) este
      proprietatea societăţii şi este controlat exclusiv de Marut, persoană
      juridică română, cu sediul în România. Orice dispută legată de accesarea
      şi utilizarea acestui site se supune legislaţiei româneşti şi intră
      exclusiv în jurisdicţia tribunalelor de pe teritoriul României.
      „Parteneri“: furnizori, distribuitori interni şi externi de produse şi
      servicii ce fac obiectul ofertei Marut, clienţi şi alte organizaţii
      partenere.
    </p>
    <h3>2. Informaţii personale şi confidenţialitate</h3>
    <p>
      Marut respectă dreptul la intimitatea informaţiilor personale şi va folosi
      informaţiile colectate de site-ul doar în scopurile declarate. Politica de
      confidenţialitate reprezintă modalitatea în care utilizăm datele personale
      primite de la dumneavoastră atunci când vizitați site-ul Marut. Ca urmare
      a utilizării de către dumneavoastră a site-ului, societatea poate obţine
      diverse informaţii personale despre dumneavoastră (nume, prenume, telefon
      fix şi/sau mobil etc.) atunci când solicitaţi informaţii despre unul
      dintre serviciile/produsele oferite, când trimiteţi un mesaj sau când vă
      exprimaţi opinia faţă de serviciile oferite de companie. Informaţia
      privind datele dumneavoastră personale va fi prelucrată de către Marut în
      conformitate cu prevederile legale pentru protecţia persoanelor cu privire
      la prelucrarea datelor cu caracter personal şi libera circulaţie a
      acestora, cu modificările şi completările ulterioare, putând fi folosită
      în scopuri asociate comercializării serviciilor şi produselor companiei,
      cum ar fi: • oferirea de servicii către dumneavoastră; • soluţionarea
      întrebărilor, solicitărilor, propunerilor şi sugestiilor dumneavoastră; •
      emiterea documentelor de facturare; • realizarea marketingului produselor
      şi serviciilor societăţii, realizarea studiilor de piaţă şi de produs.
    </p>
    <h3>3. Proprietatea intelectuală</h3>
    <p>
      Conţinutul acestui site, sub toate aspectele, este proprietatea Marut sau
      a partenerilor săi, iar informaţiile respective pot fi sub incidenţa
      legilor interne sau internaţionale de protecţie a proprietăţii
      intelectuale. Continuând navigarea pe site, confirmaţi şi acceptaţi faptul
      că Marut deţine toate drepturile, titlurile sau interesele legale în
      legătură cu Serviciile, inclusiv toate drepturile de proprietate
      intelectuală care se regăsesc în Servicii. Cu excepţia unor înţelegeri
      contrare încheiate în scris cu Marut, nicio prevedere din „Termeni şi
      condiţii“ nu vă acordă dreptul de a utiliza vreuna dintre denumirile
      comerciale, mărcile comerciale, mărcile de serviciu, siglele, denumirile
      de domeniu şi orice alte însemne distinctive ale brandului. Dacă vi s-a
      acordat un drept explicit de utilizare a unuia dintre aceste însemne
      distinctive ale brandului în cadrul unui contract scris separat cu Marut,
      atunci acceptaţi faptul că utilizarea de către dumneavoastră a acestor
      însemne se va face în conformitate cu contractul, respectiv prevederile
      aplicabile din „Termenii şi regulile Marut de utilizare a însemnelor de
      brand“, cu actualizările ocazionale. Cu excepția cazului în care aţi fost
      autorizat expres în scris de Marut, acceptaţi faptul că, prin utilizarea
      Serviciilor, nu veţi utiliza nicio marcă comercială, nicio marcă de
      serviciu, nicio denumire de comerţ, nicio siglă a unei societăţi sau
      organizaţii într-un mod care poate crea sau creează în mod deliberat
      confuzie în privinţa proprietarului sau a utilizatorului autorizat al
      mărcilor, denumirilor sau siglelor respective. Nu aveţi voie (şi nici nu
      puteţi să permiteţi nimănui altcuiva) să copiaţi, să modificaţi, să creaţi
      derivaţii, să efectuaţi activităţi de reverse engineering, să decompilaţi
      sau să încercaţi în orice alt mod să extrageţi codul-sursă al site-ului,
      al aplicaţiei software sau al unei părţi a acestora, cu excepţia cazului
      în care vi se permite sau vi se solicită acest lucru prin lege ori cu
      excepţia cazului în care Marut v-a instruit în mod specific, în scris, să
      faceţi acest lucru.
    </p>
    <h3>4. Legături cu alte site-uri</h3>
    <p>
      Acest site poate conţine linkuri către alte site-uri ale Marut sau ale
      partenerilor săi. Marut nu răspunde pentru „Politica de utilizare“ a
      acelor site-uri, prezenta declaraţie referindu-se numai la „Termenii şi
      condiţiile de utilizare“ ale site-ului
    </p>
    <h3>5. Acceptarea Termenilor</h3>
    <p>
      Prin utilizarea efectivă a Serviciilor se consideră că aţi citit, înţeles
      şi acceptat prezenţii Termeni şi Condiţii. Totodată, confirmaţi şi
      acceptaţi faptul că Marut va considera utilizarea de către dumneavoastră a
      Serviciilor ca o acceptare a Termenilor începând cu momentul respectiv. Nu
      puteţi utiliza Serviciile şi nu puteţi accepta Termenii dacă nu aveţi
      vârsta legal acceptată pentru încheierea unui contract cu Marut sau
      sunteţi o persoană căreia i s-a interzis primirea de Servicii conform
      legislaţiei din România. Marut se înnoieşte în mod constant pentru a putea
      oferi cele mai bune servicii utilizatorilor săi. Confirmaţi şi acceptaţi
      faptul că forma şi natura Serviciilor pe care vi le oferă Marut se poate
      schimba uneori, fără nicio notificare prealabilă. De asemenea, confirmaţi
      şi acceptaţi că în cadrul acestui proces de înnoire Marut poate întrerupe
      (permanent sau temporar) furnizarea Serviciilor (sau a unor opţiuni din
      cadrul Serviciilor) către dumneavoastră sau în general către utilizatori
      la libera alegere a Marut, fără nicio înştiinţare prealabilă. Puteţi
      înceta oricând utilizarea Serviciilor cu respectarea prevederilor
      prezentelor Termeni şi condiţii. Marut poate modifica, revizui, îmbunătăţi
      sau întrerupe furnizarea de informaţii, produse sau servicii prezentate pe
      acest site sau oricare dintre documentele incluse pe acest site, fără a
      informa în prealabil în acest sens. Marut îşi rezervă dreptul de a
      modifica – adăuga, şterge, completa, actualiza – în totalitate sau parţial
      aceşti Termeni şi Condiţii fără un anunţ prealabil. Aceste modificări
      intră în vigoare în momentul în care sunt publicate pe site-ul
      www.Marut.com.ro și se consideră a fi acceptate de vizitator/utilizator
      prin folosirea în continuare a acestui site.
    </p>
  </div>
</div>
{% endblock main %}
