{% extends "base.html" %} {% load static %} {% block title %}<title>
    Marut - usi</title
  >{% endblock title %} {% block main %}
  <main>
    <div class="aluplast70">
      <div class="container">
        <h2>UȘI DE INTRARE ȘI DE INTRARE</h2>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <span>Ușile sunt printre elementele cele mai solicitate ale casei. </span> Fie că vorbim despre funcționalitatea lor practică, sau despre particularități unice de design, fiecare ușă desăvârșește proiectul locuinței. În plus, pentru ușile de intrare nu trebuie să uităm de cel mai important aspect: siguranța și protecția spațiului de la interior.
                    Ușile de intrare asigură performanțe crescute în ceea ce privește caracteristicile de siguranță și durabilitate. În plus, fiecare ușă de intrare protejează și izolează termic spațiul de la interior pentru ca fiecare beneficiar să se poată bucura de confort indiferent de condițiile de la exterior.
                    În același timp, compartimentarea casei are nevoie de uși dedicate cu caracteristici foarte variate. O casă necesită o ușă de intrare solidă și reprezentativă, dar și uși panoramice și izolatoare către grădină, uși sigure și funcţionale către balcon și uși interioare frumoase.
                    
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-7" style="padding-top: 50px;padding-bottom:50px;">
            <h3>De ce să alegi ușile noastre de intrare și de interior?</h3>
            <p>
              <span>Eficiență energetică și design premium.</span>
              Profilele pentru ferestre sunt diferite faţă de cele pentru uși, 
              solicitările, proporţiile și dimensiunile fiind specifice. Pentru a
              beneficia de calitatea și fiabilitatea ușilor noastre, este important 
              să alegi profilele potrivite destinaţiei, traficului, siguranţei și nevoilor
               de izolare pe care fiecare ușă în parte trebuie să le satisfacă
                Designul unei uși este important, dar funcţionalitatea, rezistenţa și calitatea sunt cele care dau nota finală.
            </p>
            <p>Iată caracteristicile care fac ușile noastre de intrare și de interior cu adevărat speciale:</p>
          </div>
          <div class="col-md-5">
            <img
              src="{% static 'images/usa4.png' %}"
              style="
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              "
            />
          </div>
        </div>
        <hr />
        <div class="row" style="background-color: #f5f7f7; padding-top:
        20px;padding-bottom: 20px; padding-left: 10px;">
        <div class="col-md-5">
          <img
            src="{% static 'images/usa2.png' %}"
            style="
              position: absolute;
              margin: auto;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            "
          />
        </div>
        <div class="col-md-7">
          <p>
            <span>Profile de siguranță.</span>
            Caracteristicile de top ale profilelor se regăsesc în calitatea și fiabilitatea ușilor. Materialele folosite, asamblarea atentă și experiența noastră garantează uși de cea mai bună calitate, durabile și perfect adaptabile fiecărui proiect.
          </p>
          <p>
            <span>Panouri decorative.</span>
            Varietatea foarte bogată de forme și de design a panourilor decorative face din alegerea imaginii unei uși un adevărat tur de forţă. Orice model de ușă vei alege, aceasta trebuie să răspundă cel mai bine nevoilor de imagine, de siguranţă, de izolare, dar și personalităţii casei tale.
          </p>
          <p>
            <span>Rigidizare pentru siguranță. </span>
            Oţel cu grosime de 2-2,5 mm, armătură sudată cu colțar termosudabil pentru ridigizare și siguranţă sporită. Acestea sunt măsurile noastre pentru creșterea rezistenței ușilor și pentru creșterea duratei de viață a produsului pe care îl vei alege.
          </p>
          <p>
            <span>Praguri din aluminiu cu distanțier termic.</span>
            Pragurile din aluminiu cu distanțier termic sunt concepute pentru a asigura un acces facil în locuinţă. Pe lângă faptul că fac tranziţia între suprafeţe în mod elegant, aceste praguri rezolvă și micile diferenţe de nivel. Oferă o bună izolare termică, o barieră pentru temperaturile scăzute din exteriorul habitatului și continuă linia de design a fiecărei uși.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <p>
                <a
                  class="btn btn-primary readmoreb"
                  href="/products/"
                  role="button"
                  >inapoi la produse</a
                >
              </p>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </main>
  {% endblock main %}
  