.products-page {
    background: var(--clr-bg-light);
    padding:2rem 0;
}
.profile {
    padding: 2rem 0;
}
.products-pages {
    img {
        width: 95%;
        margin:auto 0;
    }
}
.tipuri-rulouri {
    background-color: var(--clr-bg-light);
    hr {
        border-top: 0.2em solid var(--clr-accent-2);
        width: 100%;
    }
}
.profile-card {
    margin:1rem auto;
    width: 75%;
    background-color: var(--clr-bg-light);
    border: 0.25em solid var(--clr-accent-2);
  img {
    transition: ease-in all 0.3s;
    width: 50%;
    margin:0 auto;
  }
  .content {
    max-width: 100%;
    transition: ease-in all 0.3s;
    background-color: var(--clr-bg-dark);
    h2 {
        color: #ffe25b;
        font-weight: bold;
    }
  }
}
.profile-card:hover,
.profile-card:focus {
    background-color: #cccccc;
    transition: ease-in all 0.3s;
    text-decoration: none;
    img {
        filter: brightness(0.8);
    }
    .content-r {
        filter: brightness(0.8);
    }
}
.title {
    margin-top:4rem;
}
.title2 {
    margin:1rem auto;
}